<app-page-header
  [backTpl]="backTpl"
  [backUrl]="'/poc/poc-liquidity/token-pair'"
  [pageHeaderInfo]="pageHeaderInfo"
></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>

<div class="normal-detail-table-wrap">
  <nz-card>
    <nz-tabset>
      <nz-tab nzTitle="Basic Information">
        <app-info-basic [rateId]="rateId"></app-info-basic>
      </nz-tab>
      <nz-tab nzTitle="Operation Records">
        <app-info-operation [rateId]="rateId"></app-info-operation>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>

