<!--
 * @Author: chenyuting
 * @Date: 2024-12-23 11:23:10
 * @LastEditors: chenyuting
 * @LastEditTime: 2024-12-25 10:51:54
 * @Description: 
-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<div class="normal-table-wrap card-container">
  <nz-card class="tabs-style">
    <nz-tabset
      class="tabs-style"
      nzType="card"
      (nzSelectedIndexChange)="onChangeTab($event)"
      [nzSelectedIndex]="tabIndex"
    >
      <nz-tab *ngFor="let tab of Tabs; index as i" [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <nz-badge nzStatus="success" *ngIf="i !== 1"> </nz-badge>
          {{ tab }}
        </ng-template>
        <ng-container *ngIf="i === 0">
          <app-system-notices />
        </ng-container>
        <ng-container *ngIf="i === 1">
          <app-internal-notifications />
        </ng-container>
        <ng-container *ngIf="i === 2">
          <app-interactive-messages />
        </ng-container>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>
