<!--
 * @Author: chenyuting
 * @Date: 2024-12-09 15:40:45
 * @LastEditors: chenyuting
 * @LastEditTime: 2024-12-10 11:17:14
 * @Description: 
-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<div class="normal-table-wrap">
  <nz-card nzTitle="Query" [nzBodyStyle]="{ 'padding-bottom': 0 }" class="m-b-10">
    <form nz-form nzLayout="vertical">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>Transaction No.</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="" name="transactionNo" [(ngModel)]="searchParam.serialNumber" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>From</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="" name="from" [(ngModel)]="searchParam.fromAccountAddress" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>To</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="" name="to" [(ngModel)]="searchParam.toAccountAddress" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>Type</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="" name="type" [(ngModel)]="searchParam.type">
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option nzValue="3" nzLabel="Transfer"></nz-option>
                <nz-option nzValue="2" nzLabel="Exchange">
                </nz-option>
                <nz-option nzValue="1" nzLabel="Swap">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>Currency</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="" name="centralBankId" [(ngModel)]="searchParam.centralBankId">
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option *ngFor="let item of currencyList" [nzValue]="item.centralBankId"
                  [nzLabel]="item.digitalSymbol">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">Created On</nz-form-label>
            <nz-form-control>
              <nz-range-picker style="width: 100%" name="creationTime"
                [(ngModel)]="searchParam.creationTime"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">Status</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="" name="status" [(ngModel)]="searchParam.state">
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option nzValue="1" nzLabel="Pending"></nz-option>
                <nz-option nzValue="5" nzLabel="Success"></nz-option>
                <nz-option nzValue="6" nzLabel="Failed"></nz-option>
                <nz-option nzValue="4" nzLabel="Processing"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="16" [nzXl]="16" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24"
          class="m-b-8 text-right p-0">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"></nz-form-label>
            <nz-form-control>
              <div nz-col [nzSpan]="24">
                <button nz-button [nzType]="'primary'" (click)="getDataList(this.tableQueryParams)">
                  Query
                </button>
                <a nz-button nzType="link" class="m-l-15" (click)="resetForm()">Reset</a>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <app-card-table-wrap [isNormalTable]="true" tableTitle="Transaction List">
    <app-ant-table (changePageSize)="changePageSize($event)" (changePageNum)="getDataList($event)"
      [tableConfig]="tableConfig" [tableData]="dataList"></app-ant-table>

    <ng-template #transactionNoTpl let-serialNumber="serialNumber">
      <ng-container *ngIf="serialNumber">
        <p [title]="serialNumber" nz-typography nzCopyable [nzCopyText]="serialNumber"> {{ (
          serialNumber.length > 12) ?
          serialNumber.slice(0,12) +
          '...' : serialNumber }}</p>
      </ng-container>
      <ng-container *ngIf="serialNumber === '' || serialNumber === null">
        {{ serialNumber | map:'nullValue'}}
      </ng-container>

    </ng-template>
    <ng-template #fromTpl let-fromAccountAddress="fromAccountAddress">
      <ng-container *ngIf="fromAccountAddress">
        <p [title]="fromAccountAddress" nz-typography nzCopyable [nzCopyText]="fromAccountAddress"> {{ (
          fromAccountAddress.length > 12) ?
          fromAccountAddress.slice(0,12) +
          '...' : fromAccountAddress }}</p>
      </ng-container>
      <ng-container *ngIf="fromAccountAddress === '' || fromAccountAddress === null">
        {{ fromAccountAddress | map:'nullValue'}}
      </ng-container>
    </ng-template>

    <ng-template #toTpl let-toAccountAddress="toAccountAddress">
      <ng-container *ngIf="toAccountAddress">
        <p [title]="toAccountAddress" nz-typography nzCopyable [nzCopyText]="toAccountAddress"> {{ (
          toAccountAddress.length > 12) ?
          toAccountAddress.slice(0,12) +
          '...' : toAccountAddress }}</p>
      </ng-container>
      <ng-container *ngIf="toAccountAddress === '' || toAccountAddress === null">
        {{ toAccountAddress | map:'nullValue'}}
      </ng-container>

    </ng-template>
    <ng-template #amountTpl let-cbdcCount="cbdcCount">
      <span [style]="{'color': cbdcCount > 0 ? '#39A16A' : '#E53E3E'}">{{
        cbdcCount > 0 ? '+' : ''}}{{cbdcCount |
        map:'toThousandthMark' }}</span>
    </ng-template>
    <ng-template #statusTpl let-state="state">
      <nz-tag [nzColor]="state | map:'transactionsRecordStatusColor'">{{ state | map:'walletTransactionsRecordStatus'
        }}</nz-tag>
    </ng-template>
    <ng-template #operationTpl let-transferId="transferId">
      <ng-container *appAuth="'R010203'">
        <span class="operate-text" routerLink="/poc/poc-remittance/transaction-record/info"
          [queryParams]="{transferId}">
          Details
        </span>
      </ng-container>
    </ng-template>
  </app-card-table-wrap>
</div>