<app-page-header [backTpl]="backTpl" [backUrl]="'/poc/poc-fx-transactions/fx-transactions'"
  [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<div class="normal-detail-table-wrap">
  <nz-card [nzBordered]="true">
    <nz-descriptions nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }" [nzColon]="false"
      class="card-descriptions m-t-20">
      <nz-descriptions-item nzTitle="Cross-Border Remittance" [nzSpan]="3">{{
        ((info.fromAmount | map:'toThousandthMark') + ' ' + info.formCurrency) |
        map:'null'
        }}</nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
  <nz-card [nzBordered]="true" [nzTitle]="'Basic Information'" class="m-b-10">
    <nz-descriptions nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }" [nzColon]="false"
      [nzBordered]="true">
      <nz-descriptions-item nzTitle="Transaction No." [nzSpan]="3">{{
        info.transactionNo
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Transaction Hash" [nzSpan]="3">{{
        info.transactionHash
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Commercial Bank ID" [nzSpan]="3">{{
        info.commercialBankId
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Commercial Bank Name" [nzSpan]="3">{{
        info.commercialBankName
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Currency Pair" [nzSpan]="3">{{
        (info.formCurrency + '->' + info.toCurrency) | map:'null'
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="From" [nzSpan]="3">
        <div>{{info.fromAccount}}</div>
        <div>{{ 'BN ID:' + info.fromBnId }}</div>
        <div style="font-weight: 500;">{{((info.fromAmount | map:'toThousandthMark') + ' ' + info.formCurrency) |
          map:'null'}}</div>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="To" [nzSpan]="3">
        <div>{{info.toAccount}}</div>
        <div style="font-weight: 500;">{{((info.toAmount | map:'toThousandthMark') + ' ' + info.toCurrency) |
          map:'null'}}
        </div>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Exchange Rate" [nzSpan]="3">{{
        info.exchangeRate | map: 'toThousandRate'
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Date" [nzSpan]="3">{{
        info.transactionDate | map: 'timeStamp'
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Status" [nzSpan]="3">{{
        info.status | map: 'transactionsStatus'
        }}</nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
  <nz-card [nzBordered]="true" [nzTitle]="'Settlement Information'" class="m-b-10">
    <nz-descriptions nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }" [nzColon]="false"
      [nzBordered]="true">
      <nz-descriptions-item nzTitle="Settlement Model" [nzSpan]="3">{{
        (info.settlementModelName + '-' + info.settlementModelCode) | map:'null'
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Charging Model" [nzSpan]="3">{{
        info.chargingModel | map: 'chargingModel'
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Commission" [nzSpan]="3">{{
        (info.chargingModel === 1 ? (info.ratioCommission | map:'toThousandthMark') + '%' : (info.regularCommission |
        map:'toThousandthMark') + ' ' + info.formCurrency) | map:'null'
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Max Commission (Per Transaction)" [nzSpan]="3" *ngIf="info.chargingModel === 1">{{
        ((info.maxCommission | map:'toThousandthMark') + ' ' + info.formCurrency) | map:'null'
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Commission Fee" [nzSpan]="3"><span style="font-weight: 500;">{{
          ((info.fee | map:'toThousandthMark') + ' ' + info.formCurrency) | map:'null'
          }}</span></nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
</div>