<nz-spin [nzSpinning]="loading">
  <!-- Liquidity Pool Wallet Information -->
  <nz-card [nzTitle]="'Liquidity Pool Wallet Information'" class="m-b-24">
    <nz-descriptions [nzColumn]="2" [nzBordered]="true">
      <nz-descriptions-item nzTitle="Liquidity Pool Address">
        <p nz-typography [nzCopyable]="true" [nzCopyText]="poolInfo.liquidityPollAddress">
          {{ poolInfo.liquidityPollAddress }}
        </p>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Token">
        {{ poolInfo.token }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Wallet Balance">
        {{ poolInfo.walletBalance }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Authorized Amount">
        {{ poolInfo.authorizedAmount }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Min Balance Req.">
        <span>
          {{ poolInfo.minBalanceReq }}
          <i nz-icon nzType="info-circle" nzTheme="outline" 
             nz-tooltip 
             nzTooltipTitle="Minimum balance requirement for the liquidity pool">
          </i>
        </span>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Status">
        <nz-tag [nzColor]="getStatusColor(poolInfo.status)">
          {{ getStatusText(poolInfo.status) }}
        </nz-tag>
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Created by">
        {{ poolInfo.createdBy }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Created on">
        {{ poolInfo.createdTime | date:'MMM d, y, HH:mm:ss' }} UTC+08:00
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>

  <!-- Liquidity Pool Wallet Registration Transaction Information -->
  <nz-card [nzTitle]="'Liquidity Pool Wallet Registration Transaction Information'" class="m-b-24">
    <nz-descriptions [nzColumn]="1" [nzBordered]="true">
      <nz-descriptions-item nzTitle="Transaction Hash">
        <p nz-typography [nzCopyable]="poolInfo.txHash ? true : false" [nzCopyText]="poolInfo.txHash">
          {{ poolInfo.txHash || '--' }}
        </p>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Transaction Time">
        {{ poolInfo.txTime ? (poolInfo.txTime | date:'MMM d, y, HH:mm:ss') + ' UTC+08:00' : '--' }}
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>

  <!-- Token Pair Information -->
  <nz-card [nzTitle]="'Token Pair Information'">
    <nz-descriptions [nzColumn]="1" [nzBordered]="true">
      <nz-descriptions-item nzTitle="Token Pair">
        <ng-container *ngIf="poolInfo.tokenPairs.length > 0; else noTokenPairs">
          <nz-tag *ngFor="let pair of poolInfo.tokenPairs" class="m-r-8">
            {{ pair || '--' }}
          </nz-tag>
        </ng-container>
        <ng-template #noTokenPairs>
            --
        </ng-template>
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
</nz-spin>
