<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-container *ngIf="updateStatus === 0 || isEdit === true">
  <div class="normal-table-wrap">
    <nz-card [nzBodyStyle]="{ 'padding-bottom': 0 }" class="m-b-10">
      <div nz-row nzJustify="center" nzAlign="middle">
        <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="20">
          <div class="access-title">Node Information</div>
        </div>
      </div>
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 card">
        <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="16">
          <nz-descriptions nzLayout="vertical" nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }"
            [nzColon]="false" [nzBordered]="false">
            <nz-descriptions-item nzTitle="Commercial Bank Name">{{ info.spName }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Central Bank">{{ '' }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Brief Introduction" [nzSpan]="3">
              {{ info.spBriefIntroduction }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Description" [nzSpan]="3"> {{ info.spDescription }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="BN ID"> {{ info.bnCode }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Wallet Address(Besu)"> {{ info.spBesuWalletAddress }}</nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>
      <div nz-row nzJustify="center" nzAlign="middle">
        <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="20">
          <div class="access-title">Contact Information</div>
        </div>
      </div>
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 card">
        <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="16">
          <nz-descriptions nzLayout="vertical" nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }"
            [nzColon]="false" [nzBordered]="false">
            <nz-descriptions-item nzTitle="Contact Name">{{ info.contactName }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Mobile Number">{{ info.mobileNumber }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Email">
              {{ info.email }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Detailed Address"> {{ info.detailedAddress }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Business License">
              <img nz-image style="width: 160px; height: 160px" [nzSrc]="this.infoMemberLicense"
                *ngIf="this.infoMemberLicense" alt="" />
            </nz-descriptions-item>
          </nz-descriptions>
        </div>
      </div>
      <div nz-row nzJustify="center" nzAlign="middle">
        <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="20">
          <app-add-pool />
        </div>
      </div>
    </nz-card>
  </div>
</ng-container>
<ng-container *ngIf="updateStatus !== 0 && isEdit === false">
  <app-info (toEdit)="getEdit($event)" />
</ng-container>
