<!--
 * @Author: chenyuting
 * @Date: 2025-01-20 16:50:28
 * @LastEditors: chenyuting
 * @LastEditTime: 2025-01-22 18:01:35
 * @Description: 
-->
<div nz-row>
  <div
    nz-col
    [nzXXl]="14"
    [nzXl]="14"
    [nzLg]="24"
    [nzMd]="14"
    [nzSm]="24"
    [nzXs]="24"
  >
    <nz-card class="m-r-8 none-bottom" style="border: none">
      <nz-card
        nzBordered="false"
        nzTitle="Wallet Information"
        [nzBodyStyle]="{ 'border-bottom': '1px solid #e8e8e8' }"
      >
        <nz-descriptions
          nzTitle=""
          [nzColumn]="1"
          [nzColon]="false"
          [nzBordered]="false"
          class="card-descriptions-order"
        >
          <nz-descriptions-item nzTitle="Wallet Address">{{
            info?.chainAccountAddress
          }}</nz-descriptions-item
          ><nz-descriptions-item nzTitle="Enterprise Code">{{
            info?.enterpriseCode
          }}</nz-descriptions-item
          ><nz-descriptions-item nzTitle="Currency">{{
            info?.currency
          }}</nz-descriptions-item
          ><nz-descriptions-item nzTitle="Balance">{{
            info?.balance + ' ' + info?.currency
          }}</nz-descriptions-item>
          ><nz-descriptions-item nzTitle="Created on">{{
            info?.createTime | map: 'timeStamp'
          }}</nz-descriptions-item>
        </nz-descriptions>
      </nz-card>
      <nz-card
        nzTitle="Wallet Creation Transaction Information"
        nzBordered="false"
        class="m-t-25"
        style="border: none"
        [nzBodyStyle]="{ 'border-bottom': '1px solid #e8e8e8' }"
      >
        <nz-descriptions
          nzTitle=""
          [nzColumn]="1"
          [nzColon]="false"
          [nzBordered]="false"
          class="card-descriptions-order"
        >
          <nz-descriptions-item nzTitle="Transaction Hash">{{
            info?.txHash | map: 'nullValue'
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Transaction Time">{{
            info?.txTime | map: 'timeStamp'
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Status"
            ><nz-tag
              [nzColor]="info?.status | map: 'enterpriseWalletStatusColor'"
              >{{ info?.status | map: 'enterpriseWalletStatus' }}</nz-tag
            ></nz-descriptions-item
          >
        </nz-descriptions>
      </nz-card>
    </nz-card>
  </div>
  <div
    nz-col
    [nzXXl]="10"
    [nzXl]="10"
    [nzLg]="24"
    [nzMd]="10"
    [nzSm]="24"
    [nzXs]="24"
    style="background-color: #fff"
  >
    <app-timeline [info]="info"></app-timeline>
  </div>
</div>
