<nz-spin [nzSpinning]="loading">
  <div class="search-area">
    <div nz-row [nzGutter]="16" nzAlign="middle">
      <div nz-col>
        <span class="label">Operation Type</span>
      </div>
      <div nz-col>
        <nz-select [(ngModel)]="operationType" class="operation-type-select">
          <nz-option [nzValue]="0" nzLabel="All"></nz-option>
          <nz-option [nzValue]="1" nzLabel="Add"></nz-option>
          <nz-option [nzValue]="3" nzLabel="Activate"></nz-option>
          <nz-option [nzValue]="4" nzLabel="Deactivate"></nz-option>
        </nz-select>
      </div>
      <div nz-col>
        <button nz-button (click)="resetSearch()">Reset</button>
        <button nz-button nzType="primary" class="m-l-8" (click)="getOperationRecords()">Query</button>
      </div>
    </div>
  </div>

  <app-card-table-wrap [isNormalTable]="true">
    <app-ant-table
      (changePageSize)="onPageSizeChange($event)"
      (changePageNum)="getOperationRecords($event)"
      [tableConfig]="tableConfig"
      [tableData]="operationRecords"
    ></app-ant-table>

    <ng-template #statusTpl let-state="state">
      <nz-tag [nzColor]="getStatusColor(state)">
        {{ getStatusText(state) }}
      </nz-tag>
    </ng-template>

    <ng-template #operationTypeTpl let-operationType="operationType">
      <span>{{ getOperationTypeText(operationType) }}</span>
    </ng-template>
  </app-card-table-wrap>
</nz-spin>
