<div class="modal-content">
  <div class="modal-header">
    <h2>Authorize</h2>
  </div>

  <div class="modal-body">
    <form nz-form [formGroup]="validateForm" nzLayout="vertical">
      <div class="form-content">
        <nz-form-item class="form-group">
          <nz-form-label>Token</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="currency" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="form-group">
          <nz-form-label>Liquidity Pool Address</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="liquidityPoolAddress" />
          </nz-form-control>
        </nz-form-item>

        <div class="balance-text">
          Balance: {{ walletBalance | number:'1.0-6' }} {{ token }}
        </div>

        <nz-form-item class="form-group">
          <nz-form-label [nzRequired]="true">Authorized Amount</nz-form-label>
          <nz-form-control [nzErrorTip]="authorizedAmountErrorTpl">
            <div class="amount-input">
              <input nz-input formControlName="authorizedAmount" />
              <span class="currency-suffix">{{ token }}</span>
            </div>
          </nz-form-control>
          <ng-template #authorizedAmountErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input authorized amount
            </ng-container>
            <ng-container *ngIf="control.hasError('min')">
              Authorized amount must be greater than or equal to {{ minBalanceReq | number:'1.0-6' }}
            </ng-container>
          </ng-template>
        </nz-form-item>

        <div class="min-balance-text">
          Min Balance Req.: {{ minBalanceReq | number:'1.0-6' }} {{ token }}
        </div>

        <nz-alert
          *ngIf="isWalletBalanceInsufficient"
          nzType="error"
          nzMessage="Wallet balance is insufficient to meet the minimum balance requirement"
          class="m-t-16"
        ></nz-alert>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button nz-button (click)="handleCancel()">Cancel</button>
    <button 
      nz-button 
      nzType="primary" 
      (click)="handleOk()" 
      [nzLoading]="isLoading"
      [disabled]="!validateForm.valid || isWalletBalanceInsufficient"
    >Confirm</button>
  </div>
</div> 