<div>
  <!-- <h2 class="m-b-8" [class.is-over-model]="isOverModel">
    BN Name: {{ instance }}
  </h2> -->
  <div class="logo-container">
    <img
      [src]="logoImg"
      alt=""
      style="height: 4rem; text-align: center"
      *ngIf="logoImg"
    />
  </div>

  <p class="m-b-30 title" [class.is-over-model]="isOverModel">
    {{ 'Commercial Bank Control Panel' }}
  </p>
  <div
    class="full-with"
    style="display: flex; justify-content: center; align-items: center"
  >
    <form
      nz-form
      nzLayout="vertical"
      class="login-form-wrap"
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-label nzRequired [nzFor]="">USERNAME</nz-form-label>
        <nz-form-control [nzErrorTip]="userNameError">
          <input
            nzSize="large"
            [placeholder]=""
            type="text"
            nz-input
            formControlName="clientName"
          />
          <ng-template #userNameError let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please input your User Name</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordError">
          <nz-form-label nzRequired [nzFor]="">PASSWORD</nz-form-label>
          <nz-input-group [nzSize]="'large'" [nzSuffix]="suffixTemplate">
            <input
              autocomplete="on"
              [placeholder]=""
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              formControlName="pwd"
            />
          </nz-input-group>
          <ng-template #passwordError let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please input your Password</ng-container
            >
            <ng-container *ngIf="control.hasError('regular')">
              The password is a combination of 8-20 digits of numbers and
              letters with at least one uppercase letter
            </ng-container>
          </ng-template>
          <ng-template #suffixTemplate>
            <i
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired> CAPTCHA </nz-form-label>
        <nz-form-control [nzErrorTip]="codeError">
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="16">
              <input
                nz-input
                nzSize="large"
                [placeholder]=""
                type="text"
                nz-input
                formControlName="captchaCode"
              />
            </div>
            <div nz-col [nzSpan]="8" class="text-right">
              <img
                [src]="this.srcUrl"
                style="height: 40px"
                (click)="onRefresh()"
                alt=""
              />
            </div>
          </div>
          <ng-template #codeError let-control>
            <ng-container *ngIf="control.hasError('required')"
              >Please input Captcha Code</ng-container
            >
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <!-- <div nz-row nzJustify="space-between">
        <div nz-col>
          <label nz-checkbox formControlName="isAgree">
            <span>I have read and understand the following statement</span>
          </label>
        </div>
        <div
          *ngIf="this.validateForm.get('isAgree')?.value === false"
          style="color: red"
        >
          Please check it !
        </div>
      </div> -->
      <button
        nz-button
        nzSize="large"
        class="full-with m-t-15 btn"
        [nzType]="'primary'"
      >
        LOGIN
      </button>
    </form>
  </div>
</div>
