<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<div class="normal-table-wrap">
  <nz-card [nzBodyStyle]="{ 'padding-bottom': 0 }" [nzTitle]="'Query'" class="m-b-10">
    <form nz-form nzLayout="vertical">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="8" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>Transaction ID</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Transaction ID" [(ngModel)]="searchParam.traceId" name="traceId" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="8" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>Date</nz-form-label>
            <nz-form-control>
              <nz-range-picker style="width: 100%" name="dateTime" [(ngModel)]="searchParam.dateTime">
              </nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="8" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>Transaction Type</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="" name="txType" [(ngModel)]="searchParam.txType">
                <nz-option *ngFor="let type of transactionTypes" 
                          [nzValue]="type.value" 
                          [nzLabel]="type.label">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24" class="text-right">
          <button nz-button nzType="primary" class="m-r-8" (click)="getDataList(tableQueryParams)">Query</button>
          <button nz-button (click)="resetForm()">Reset</button>
        </div>
      </div>
    </form>
  </nz-card>

  <app-card-table-wrap [tableTitle]="'Transaction List'" [isNormalTable]="true">
    <app-ant-table
      (changePageSize)="changePageSize($event)"
      (changePageNum)="getDataList($event)"
      [tableConfig]="tableConfig"
      [tableData]="dataList"
    ></app-ant-table>
  </app-card-table-wrap>
</div>

<ng-template #txTypeTpl let-txType="txType">
  {{ getTransactionTypeName(txType) }}
</ng-template>

<ng-template #debitTpl let-txAmount="txAmount" let-loanType="loanType">
  {{ loanType === 1 ? (txAmount | number:'1.2-2') : '' }}
</ng-template>

<ng-template #creditTpl let-txAmount="txAmount" let-loanType="loanType">
  {{ loanType === 2 ? (txAmount | number:'1.2-2') : '' }}
</ng-template>

<ng-template #actionTpl let-ruleId="ruleId">
  <span class="operate-text" (click)="showTxDetails(ruleId)">Txn Details</span>
</ng-template>

<ng-template #traceIdTpl let-traceId="traceId">
  <div class="d-flex align-items-center">
    <span>{{ traceId }}</span>
    <i nz-icon 
       nzType="copy" 
       nzTheme="outline" 
       class="m-l-8 cursor-pointer" 
       (click)="copyTraceId(traceId, $event)"
       nz-tooltip 
       nzTooltipTitle="Copy">
    </i>
  </div>
</ng-template>
