.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.m-l-8 {
  margin-left: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

i[nz-icon] {
  &:hover {
    color: #1890ff;
  }
}

input[type="text"].temp-input {
  position: fixed;
  top: -1000px;
  left: -1000px;
  opacity: 0;
  z-index: -1;
}
