<app-page-header
  [backTpl]="backTpl"
  [backUrl]="'/poc/poc-financial/statements'"
  [pageHeaderInfo]="pageHeaderInfo"
></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<div class="normal-detail-table-wrap">
  <nz-card
    [nzBodyStyle]="{ 'padding-bottom': 0 }"
    [nzTitle]="'Export'"
    class="m-b-10"
  >
    <form nz-form nzLayout="vertical">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>Token Name</nz-form-label>
            <nz-form-control>
              <nz-select
                nzPlaceHolder=""
                name="tokenId"
                [(ngModel)]="exportParam.tokenId"
              >
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option
                  *ngFor="let item of tokenList"
                  [nzValue]="item.stablecoinId"
                  [nzLabel]="item.tokenName"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>Transaction Wallet Address</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder=""
                name="walletAddress"
                [(ngModel)]="exportParam.walletAddress"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">File Export Type</nz-form-label>
            <nz-form-control>
              <nz-select
                nzPlaceHolder=""
                nzDisabled
                [nzShowArrow]="false"
                name="fileType"
                [(ngModel)]="exportParam.fileType"
              >
                <nz-option [nzValue]="0" nzLabel="Excel"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>Transaction Type</nz-form-label>
            <nz-form-control>
              <nz-select
                nzMode="multiple"
                [nzShowArrow]="true"
                name="txTypes"
                [(ngModel)]="exportParam.txTypes"
                (ngModelChange)="getTxTypes($event)"
              >
                <nz-option nzValue="1" nzLabel="Top-up"></nz-option>
                <nz-option nzValue="2" nzLabel="Withdraw"></nz-option>
                <nz-option nzValue="3" nzLabel="Transfer"></nz-option>
              </nz-select>
            </nz-form-control>
            <div style="color: red" *ngIf="txTypesError === true">
              {{ 'Please select your Transaction Type' }}
            </div>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">Transaction Period</nz-form-label>
            <nz-form-control>
              <nz-range-picker
                style="width: 100%"
                name="txnTime"
                [(ngModel)]="exportParam.txnTime"
                (ngModelChange)="getTxnTime($event)"
              ></nz-range-picker>
            </nz-form-control>
            <div style="color: red" *ngIf="txnTimeError === true">
              {{ 'Please select your Transaction Period' }}
            </div>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="16"
          [nzMd]="16"
          [nzSm]="24"
          [nzXs]="24"
          class="text-right"
        >
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"></nz-form-label>
            <nz-form-control>
              <div nz-col [nzSpan]="24">
                <button nz-button [nzType]="'primary'" (click)="getExport()">
                  Export
                </button>
                <a
                  nz-button
                  nzType="link"
                  class="m-l-15"
                  (click)="resetFormExport()"
                  >Reset</a
                >
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <nz-card
    [nzBodyStyle]="{ 'padding-bottom': 0 }"
    [nzTitle]="'Report Records'"
    class="m-b-10"
  >
    <form nz-form nzLayout="vertical">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>Token Name</nz-form-label>
            <nz-form-control>
              <nz-select
                nzPlaceHolder=""
                name="tokenId"
                [(ngModel)]="searchParam.tokenId"
              >
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option
                  *ngFor="let item of tokenList"
                  [nzValue]="item.stablecoinId"
                  [nzLabel]="item.tokenName"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>Blockchain</nz-form-label>
            <nz-form-control>
              <nz-select
                nzPlaceHolder=""
                name="blockchainId"
                [(ngModel)]="searchParam.blockchainId"
              >
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option
                  *ngFor="let item of blockchainList"
                  [nzValue]="item.blockchainId"
                  [nzLabel]="item.blockchainName"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>File ID</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder=""
                name="fileId"
                [(ngModel)]="searchParam.fileId"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">Transaction Period</nz-form-label>
            <nz-form-control>
              <nz-range-picker
                style="width: 100%"
                name="txnTime"
                [(ngModel)]="searchParam.txnTime"
              ></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">Executed On</nz-form-label>
            <nz-form-control>
              <nz-range-picker
                style="width: 100%"
                name="createTime"
                [(ngModel)]="searchParam.createTime"
              ></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          [nzXXl]="8"
          [nzXl]="8"
          [nzLg]="12"
          [nzMd]="12"
          [nzSm]="24"
          [nzXs]="24"
        >
          <nz-form-item>
            <nz-form-label>Export Status</nz-form-label>
            <nz-form-control>
              <nz-select
                nzPlaceHolder=""
                name="exportState"
                [(ngModel)]="searchParam.exportState"
              >
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option nzValue="0" nzLabel="Pending"></nz-option>
                <nz-option nzValue="1" nzLabel="Processing"></nz-option>
                <nz-option nzValue="2" nzLabel="Completed"></nz-option>
                <nz-option nzValue="3" nzLabel="Failed"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24" class="text-right">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"></nz-form-label>
            <nz-form-control>
              <div nz-col [nzSpan]="24">
                <button
                  nz-button
                  [nzType]="'primary'"
                  (click)="getDataList(this.tableQueryParams)"
                >
                  Query
                </button>
                <a nz-button nzType="link" class="m-l-15" (click)="resetForm()"
                  >Reset</a
                >
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <app-card-table-wrap [tableTitle]="" [isNormalTable]="true">
    <app-ant-table
      (changePageSize)="changePageSize($event)"
      (changePageNum)="getDataList($event)"
      [tableConfig]="tableConfig"
      [tableData]="dataList"
    ></app-ant-table>
    <ng-template #numberTpl let-key="key">
      <span [title]="key">{{ key }}</span>
    </ng-template>
    <ng-template #fileIdTpl let-fileId="fileId">
      <p
        [title]="fileId"
        nz-typography
        [nzCopyable]="fileId ? true : false"
        [nzCopyText]="fileId"
      >
        {{ fileId | map: 'showPartTen' }}
      </p>
    </ng-template>
    <ng-template #fileHashTpl let-fileHash="fileHash">
      <p
        [title]="fileHash"
        nz-typography
        [nzCopyable]="fileHash ? true : false"
        [nzCopyText]="fileHash"
      >
        {{ fileHash | map: 'showPartTen' }}
      </p>
    </ng-template>
    <ng-template #statusTpl let-exportState="exportState">
      <nz-tag [nzColor]="exportState | map: 'downloadCenterStatusColor'">{{
        exportState | map: 'downloadCenterStatus'
      }}</nz-tag>
    </ng-template>
    <ng-template #proofHashTpl let-proofHash="proofHash">
      <p
        [title]="proofHash"
        nz-typography
        [nzCopyable]="proofHash ? true : false"
        [nzCopyText]="proofHash"
      >
        {{ proofHash | map: 'showPartTen' }}
      </p>
    </ng-template>
    <ng-template #walletAddressTpl let-walletAddress="walletAddress">
      <p
        [title]="walletAddress"
        nz-typography
        [nzCopyable]="walletAddress ? true : false"
        [nzCopyText]="walletAddress"
      >
        {{ walletAddress | map: 'showPartTen' }}
      </p>
    </ng-template>
    <ng-template #proofStatusTpl let-proofState="proofState">
      <nz-tag [nzColor]="proofState | map: 'proofStatusColor'">{{
        proofState | map: 'proofStatus'
      }}</nz-tag>
    </ng-template>
    <ng-template #txnTypesTpl let-transactionTypes="transactionTypes">
      <span
        *ngFor="let type of transactionTypes; index as i"
        [title]="type | map: 'statementsTxnType'"
        >{{
          i === transactionTypes?.length - 1
            ? (type | map: 'statementsTxnType')
            : (type | map: 'statementsTxnType') + '、'
        }}</span
      >
    </ng-template>
    <ng-template
      #transactionPeriodTpl
      let-startTime="startTime"
      let-endTime="endTime"
    >
      <span>{{ startTime | map: 'dayStamp' }} {{ ' - ' }}</span>
      <span>{{ endTime | map: 'dayStamp' }}</span>
    </ng-template>
    <ng-template
      #operationTpl
      let-exportTaskId="exportTaskId"
      let-busId="busId"
      let-busType="busType"
      let-fileName="fileName"
      let-exportState="exportState"
    >
      <ng-container *appAuth="''">
        <span
          class="operate-text"
          *ngIf="exportState === 2"
          (click)="onDownload(busId, busType, fileName)"
        >
          Download
        </span>
      </ng-container>
      <ng-container *appAuth="''">
        <span
          class="operate-text"
          *ngIf="exportState === 2"
          (click)="onDelete(exportTaskId)"
        >
          Delete
        </span>
      </ng-container>
    </ng-template>
  </app-card-table-wrap>
</div>
