<!--
 * @Author: zhangxuefeng
 * @Date: 2023-10-27 14:54:28
 * @LastEditors: zhangxuefeng
 * @LastEditTime: 2023-10-30 15:07:07
 * @Description: 
-->
<div>
    <form nz-form [formGroup]="validateForm">
        <nz-card [nzBodyStyle]="{ 'padding-bottom': 0 }" [nzTitle]="'Currency Information'" class="m-b-10">
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10" nzGutter="8">
                <div nz-col nzXs="24" nzSm="18" nzXl="18" nzXXl="18" style="text-align: start">
                    <p class="m-b-10" style="font-weight: 700; color:#7d8592">Please select the currency to be
                        activated:
                    </p>
                </div>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10" nzGutter="8">
                <div nz-col nzXs="24" nzSm="18" nzXl="18" nzXXl="18">
                    <!-- <div nz-row nzJustify="space-between" nzGutter="8"
                        *ngFor="let item of outCapitalPool$ | async; index as i">
                        <div nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-form-item>
                                <nz-form-label nzSpan="24" *ngIf="i === 0">Currency
                                </nz-form-label>
                                <nz-form-control>
                                    <div nz-row>
                                        <div nz-col nzSpan="16">
                                            <input nz-input disabled
                                                [value]="item['capitalPoolCurrency']+'-'+item['capitalPoolPlatform']" />
                                        </div>

                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-form-item>
                                <nz-form-label nzSpan="24" *ngIf="i === 0">Capital Pool Address
                                </nz-form-label>
                                <nz-form-control>
                                    <div nz-row>
                                        <div nz-col nzSpan="16">
                                            <input nz-input disabled [value]="item.capitalPoolAddress"
                                                [title]="item.capitalPoolAddress" />
                                        </div>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div> -->
                    <ng-container>
                        <div nz-row nzJustify="space-between" nzGutter="8"
                            *ngFor="let control of listOfControl; index as i">
                            <div nz-col [nzXXl]="6" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzSpan="24" *ngIf="i === 0">Currency
                                    </nz-form-label>
                                    <nz-form-control [nzErrorTip]="currencyError">
                                        <div nz-row>
                                            <div nz-col nzSpan="16">
                                                <nz-select [attr.id]="control.id" [formControlName]="control.crrency"
                                                    (ngModelChange)="onChange(control, $event)"
                                                    [nzDisabled]="validateForm.get(control.status)?.value">
                                                    <nz-option *ngFor="let item of selectOptionPacths$ | async"
                                                        [nzValue]="item" [nzLabel]="item"></nz-option>
                                                </nz-select>
                                            </div>
                                        </div>
                                        <ng-template #currencyError let-control>
                                            <ng-container *ngIf="control.hasError('required')">Please select your
                                                Currency</ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzXXl]="10" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzSpan="24" *ngIf="i === 0">Account/Wallet (Capital Pool
                                        Address)
                                    </nz-form-label>
                                    <nz-form-control [nzErrorTip]="capitalPoolAddressError">
                                        <div nz-row>
                                            <div nz-col nzSpan="16">
                                                <nz-select [formControlName]="control.capitalPoolAddress"
                                                    [nzDisabled]="validateForm.get(control.status)?.value">
                                                    <nz-option *ngFor="let item of selectOptionPool$ | async"
                                                        [nzValue]="item.chainAccountAddress"
                                                        [nzLabel]="item.chainAccountAddress"></nz-option>
                                                </nz-select>
                                            </div>

                                        </div>
                                        <ng-template #capitalPoolAddressError let-control>
                                            <ng-container *ngIf="control.hasError('required')">Please input your
                                                Capital
                                                Pool
                                                Address</ng-container>
                                            <ng-container *ngIf="control.hasError('regular')">Please enter a 42
                                                digit
                                                hexadecimal starting with '0x'
                                            </ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-col [nzXXl]="8" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzSpan="24" *ngIf="i === 0">Pre-authorized Debit
                                    </nz-form-label>
                                    <nz-form-control [nzErrorTip]="currencyError">
                                        <div nz-row>
                                            <div nz-col nzSpan="16" class="pool-switch">
                                                <nz-switch [formControlName]="control.status"
                                                    [nzDisabled]="true"></nz-switch>
                                            </div>
                                            <ng-container *ngIf="i !== selectOptionPacthsLenght - 1">
                                                <div nz-col nzSpan="4" (click)="addField($event)"
                                                    *ngIf="i <= selectOptionPacthsLenght && i === listOfControl.length - 1">
                                                    <button nz-button nzType="text"
                                                        style="color: #3c5686; font-size: 16px;">
                                                        <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
                                                        Add
                                                    </button>
                                                </div>
                                                <div nz-col nzSpan="4" class="m-l-2"
                                                    *ngIf="i >0 && i === listOfControl.length - 1"
                                                    (click)="removeField(control, $event)">
                                                    <button nz-button nzType="text"
                                                        style="color: #ff4d4f; font-size: 16px;margin-left: 10px;">
                                                        <i nz-icon nzType="minus-circle" nzTheme="fill"></i>
                                                        Delete
                                                    </button>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="i === selectOptionPacthsLenght - 1">
                                                <div nz-col nzSpan="4" class="m-l-2" *ngIf="i >0 "
                                                    (click)="removeField(control, $event)">
                                                    <button nz-button nzType="text"
                                                        style="color: #ff4d4f; font-size: 16px;">
                                                        <i nz-icon nzType="minus-circle" nzTheme="fill"></i>
                                                        Delete
                                                    </button>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-30" nzGutter="8">
                <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="12" style="text-align: end;">
                    <button nz-button type="button" nzType="primary" [nzLoading]="isLoading" [nzSize]="'large'"
                        (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </nz-card>
    </form>
</div>