<!--
 * @Author: zhangxuefeng
 * @Date: 2023-10-27 14:08:17
 * @LastEditors: chenyuting
 * @LastEditTime: 2024-12-23 14:43:09
 * @Description: 
-->
<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<div class="normal-table-wrap">
  <nz-card>
    <nz-tabset (nzSelectedIndexChange)="onChangeTab($event)" [nzSelectedIndex]="tabIndex">
      <nz-tab *ngFor="let tab of capitalPoolTabs; index as i" [nzTitle]="tab">
        <ng-container *ngIf="i === 0">
          <app-card-table-wrap [isNormalTable]="true" [btnTpl]="tableBtns">
            <app-ant-table (changePageSize)="changePageSize($event)" (changePageNum)="getDataList($event)"
              [tableConfig]="tableConfig" [tableData]="dataList"></app-ant-table>
          </app-card-table-wrap>
        </ng-container>
        <ng-container *ngIf="i === 1">
          <app-application />
        </ng-container>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>
<ng-template #tableBtns>
  <button nz-button nzType="primary" class="m-r-8" routerLink="/poc/poc-capital-pool/capital-pool/add"
    *appAuth="'R020201'">Activate Currency</button>
  <button nz-button nzType="primary" class="m-r-8" routerLink="/poc/poc-capital-pool/capital-pool/reduce"
    *appAuth="'R020203'">Deactivate Currency</button>
  <button nz-button nzType="primary" class="m-r-8">
    <a href="https://github.com/UDPN/Poc11-contract-document" target="_blank"> View API
      Documentation</a>
  </button>
</ng-template>
<ng-template #capitalTpl let-capitalPoolCurrency="capitalPoolCurrency">
  <span>{{
    capitalPoolCurrency + ' Capital Pool'
    }}</span>
</ng-template>
<ng-template #balanceTpl let-capitalPoolRealBalance="capitalPoolRealBalance" let-capitalPoolCurrency="capitalPoolCurrency">
  <span>{{ (capitalPoolRealBalance | map:'toThousandthMark') + ' ' + capitalPoolCurrency }}</span>
</ng-template>
<ng-template #authorTpl let-capitalPoolBalance="capitalPoolBalance"
  let-capitalPoolCurrency="capitalPoolCurrency">
  <span>{{ (capitalPoolBalance | map:'toThousandthMark') + ' ' + capitalPoolCurrency }}</span>
</ng-template>
<ng-template #authorizedTpl>
  <span>{{ 'Yes' }}</span>
</ng-template>
<ng-template #operationTpl let-capitalPoolCurrency="capitalPoolCurrency" let-capitalPoolAddress="capitalPoolAddress" let-reserveBalance="reserveBalance"
  let-currencyPrecision="currencyPrecision" let-capitalPoolRealBalance="capitalPoolRealBalance" let-reserveCurrency="reserveCurrency" let-reserveAccount="reserveAccount">
  <ng-container>
    <span class="operate-text" *appAuth="'R020204'"
      (click)="getEdit(capitalPoolCurrency, capitalPoolAddress, currencyPrecision)">
      Edit
    </span>
  </ng-container>
  <ng-container *appAuth="'R020205'">
    <span class="operate-text" (click)="getTopUp(reserveCurrency, capitalPoolAddress, reserveAccount, reserveBalance, capitalPoolCurrency)">
      Top up
    </span>
  </ng-container>
  <ng-container *appAuth="'R020206'">
    <span class="operate-text" (click)="getWithdraw(capitalPoolCurrency, capitalPoolAddress, capitalPoolRealBalance, reserveAccount, reserveCurrency)">
      Withdraw
    </span>
  </ng-container>
</ng-template>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Edit" (nzOnCancel)="cancelEdit()" [nzClosable]="false" [nzWidth]="700"
  nzCentered="true">
  <div *nzModalContent>
    <form nz-form [formGroup]="editValidateForm">
      <nz-descriptions nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }" [nzColon]="false"
        class="card-descriptions-order">
        <nz-descriptions-item nzTitle="Capital Pool" [nzSpan]="3">{{ editInfo.capitalPool + ' Capital Pool'
          }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Account/Wallet" [nzSpan]="3">{{ editInfo.capitalPoolAddress
          }}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="authorizedTitle" [nzSpan]="3">
          <nz-switch formControlName="status" [nzDisabled]="true" class="pool-switch">
          </nz-switch>
        </nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="amountTitle" [nzSpan]="3">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="amountError">
              <nz-input-group [nzAddOnAfter]="editInfo.capitalPool">
                <input nz-input type="number" formControlName="amount" />
              </nz-input-group>
            </nz-form-control>
            <ng-template #amountError let-control>
              <ng-container *ngIf="control.hasError('required')">Please input your
                Amount</ng-container>
              <ng-container *ngIf="control.hasError('regular')">{{ 'The max precision of amount is: ' +
                this.editInfo.currencyPrecision }}</ng-container>
            </ng-template>
          </nz-form-item>
        </nz-descriptions-item>
        <ng-template #authorizedTitle>
          <span style="color: red;" class="m-r-8">*</span> Pre-authorized Debit
        </ng-template>
        <ng-template #amountTitle>
          <span style="color: red;" class="m-r-8">*</span> Deductible Amount
        </ng-template>
      </nz-descriptions>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelEdit()">Cancel</button>
    <button nz-button nzType="primary" (click)="edit()" [nzLoading]="isLoading"
      [disabled]="!this.editValidateForm.valid">Confirm</button>
  </div>
</nz-modal>
<!-- <nz-modal [(nzVisible)]="isVisibleTopUp" nzTitle="Top up" (nzOnCancel)="cancelTopUp()" [nzClosable]="false"
  [nzWidth]="800" nzCentered="true">
  <div *nzModalContent>
    <form nz-form [formGroup]="topUpForm">
      <div nz-row [nzGutter]="24" nzJustify="center" nzAlign="middle">
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Commercial Bank
            </nz-form-label>
            <nz-form-control [nzErrorTip]="commercialBankError" nzSpan="16" class="m-b-20">
              <input nz-input formControlName="commercialBank" readonly class="onboard-disabled" />
              <ng-template #commercialBankError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Commercial Bank</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Wallet Address
            </nz-form-label>
            <nz-form-control [nzErrorTip]="walletAddressError" nzSpan="16" class="m-b-20">
              <input nz-input formControlName="chainAccountAddress" readonly class="onboard-disabled" />
              <ng-template #walletAddressError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Wallet Address</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Transaction Reference No
            </nz-form-label>
            <nz-form-control [nzErrorTip]="transactionReferenceNoError" nzSpan="16" class="m-b-20">
              <input nz-input formControlName="transactionReferenceNo" />
              <ng-template #transactionReferenceNoError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Transaction Reference No</ng-container>
                <ng-container *ngIf="control.hasError('regular1')">The maximum limit is 50 characters</ng-container>
                <ng-container *ngIf="control.hasError('regular')">Format error. Please enter numbers, letters, or special characters.</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Bank Account
            </nz-form-label>
            <nz-form-control [nzErrorTip]="bankAccountError" nzSpan="16" class="m-b-20">
              <input nz-input formControlName="reserveAccount" />
              <ng-template #bankAccountError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Bank Account</ng-container>
                <ng-container *ngIf="control.hasError('regular1')">The maximum limit is 30 characters.</ng-container>
                <ng-container *ngIf="control.hasError('regular')">Format error. Please use numbers.</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Amount
            </nz-form-label>
            <nz-form-control [nzErrorTip]="amountError" nzSpan="16" class="m-b-20">
              <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
                <input nz-input formControlName="amount" />
              </nz-input-group>
              <ng-template #addOnAfterTemplate>
                <label>{{ currency.split('-')[1] }}</label>
              </ng-template>
              <ng-template #amountError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Amount</ng-container>
                <ng-container *ngIf="control.hasError('regular')">You can enter only positive integer numbers with a maximum of 2 decimal places.</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Token Received
            </nz-form-label>
            <nz-form-control [nzErrorTip]="receivedError" nzSpan="16" class="m-b-20">
              <nz-input-group [nzAddOnAfter]="addOnAfterTemplate1">
                <input nz-input formControlName="fiatAmount" readonly class="onboard-disabled" />
              </nz-input-group>
              <ng-template #addOnAfterTemplate1>
                <label>{{ currency }}</label>
              </ng-template>
              <ng-template #receivedError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Token Received</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelTopUp()">Back</button>
    <button nz-button nzType="primary" (click)="topUp()" [nzLoading]="isLoading"
      [disabled]="!this.topUpForm.valid">Submit</button>
  </div>
</nz-modal>
<nz-modal [(nzVisible)]="isVisibleWithdraw" nzTitle="Withdraw" (nzOnCancel)="cancelWithdraw()" [nzClosable]="false"
  [nzWidth]="800" nzCentered="true">
  <div *nzModalContent>
    <form nz-form [formGroup]="withdrawForm">
      <div nz-row [nzGutter]="24" nzJustify="center" nzAlign="middle">
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Commercial Bank
            </nz-form-label>
            <nz-form-control [nzErrorTip]="commercialBankError" nzSpan="16" class="m-b-20">
              <input nz-input formControlName="commercialBank" readonly class="onboard-disabled" />
              <ng-template #commercialBankError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Commercial Bank</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Wallet Address
            </nz-form-label>
            <nz-form-control [nzErrorTip]="walletAddressError" nzSpan="16">
              <input nz-input formControlName="chainAccountAddress" readonly class="onboard-disabled" />
              <div>
                {{'Available Amount: '}} {{this.balance | map:'toThousandthMark'}}{{' ' + this.currency }}
              </div>
              <ng-template #walletAddressError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Wallet Address</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Bank Account
            </nz-form-label>
            <nz-form-control [nzErrorTip]="bankAccountError" nzSpan="16" class="m-b-20">
              <input nz-input formControlName="reserveAccount" />
              <ng-template #bankAccountError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Bank Account</ng-container>
                <ng-container *ngIf="control.hasError('regular1')">The maximum limit is 30 characters.</ng-container>
                <ng-container *ngIf="control.hasError('regular')">Format error. Please use numbers.</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Amount
            </nz-form-label>
            <nz-form-control [nzErrorTip]="amount1Error" nzSpan="16" class="m-b-20">
              <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
                <input nz-input formControlName="amount" />
              </nz-input-group>
              <ng-template #addOnAfterTemplate>
                <label>{{ currency.split('-')[1] }}</label>
              </ng-template>
              <ng-template #amount1Error let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Amount</ng-container>
                <ng-container *ngIf="control.hasError('regular')">You can enter only positive integer numbers with a maximum of 2 decimal places.</ng-container>
                <ng-container *ngIf="control.hasError('regular1')">The Amount cannot be greater than the Available Amount</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Token Received
            </nz-form-label>
            <nz-form-control [nzErrorTip]="receivedError" nzSpan="16" class="m-b-20">
              <nz-input-group [nzAddOnAfter]="addOnAfterTemplate1">
                <input nz-input formControlName="fiatAmount" readonly class="onboard-disabled" />
              </nz-input-group>
              <ng-template #addOnAfterTemplate1>
                <label>{{ currency }}</label>
              </ng-template>
              <ng-template #receivedError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Token Received</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelWithdraw()">Back</button>
    <button nz-button nzType="primary" (click)="withdraw()" [nzLoading]="isLoading"
      [disabled]="!this.withdrawForm.valid">Submit</button>
  </div>
</nz-modal> -->
<nz-modal
  [(nzVisible)]="isVisibleTopUp"
  nzTitle="Top up"
  (nzOnCancel)="cancelTopUp()"
  [nzClosable]="false"
  [nzWidth]="800"
  nzCentered="true"
>
  <div *nzModalContent>
    <form nz-form [formGroup]="topUpForm">
      <div nz-row [nzGutter]="24" nzJustify="center" nzAlign="middle">
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Commercial Bank
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="commercialBankError"
              nzSpan="16"
              class="m-b-20"
            >
              <input
                nz-input
                formControlName="commercialBank"
                readonly
                class="onboard-disabled"
              />
              <ng-template #commercialBankError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Commercial Bank</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Wallet Address
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="walletAddressError"
              nzSpan="16"
              class="m-b-20"
            >
              <input
                nz-input
                formControlName="chainAccountAddress"
                readonly
                class="onboard-disabled"
              />
              <ng-template #walletAddressError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Wallet Address</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Bank Account
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="bankAccountError"
              nzSpan="16"
              class="m-b-20"
            >
              <input
                nz-input
                formControlName="reserveAccount"
                readonly
                class="onboard-disabled"
              />
              <div>
                {{ 'Available Amount: ' }}
                {{ this.reserveBalance | map: 'toThousandthMark' }}
                {{ ' ' + this.reserveCurrency }}
              </div>
              <ng-template #bankAccountError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Bank Account</ng-container
                >
                <ng-container *ngIf="control.hasError('regular1')"
                  >The maximum limit is 30 characters.</ng-container
                >
                <ng-container *ngIf="control.hasError('regular')"
                  >Format error. Please use numbers.</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Amount
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="amountError"
              nzSpan="16"
              class="m-b-20"
            >
              <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
                <input nz-input formControlName="amount" />
              </nz-input-group>
              <ng-template #addOnAfterTemplate>
                <label>{{ this.reserveCurrency }}</label>
              </ng-template>
              <ng-template #amountError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Amount</ng-container
                >
                <ng-container *ngIf="control.hasError('regular')"
                  >You can enter only positive integer numbers with a maximum of
                  2 decimal places.</ng-container
                >
                <ng-container *ngIf="control.hasError('regular1')"
                  >The Amount cannot be greater than the Available
                  Amount</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Token Received
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="receivedError"
              nzSpan="16"
              class="m-b-20"
            >
              <nz-input-group [nzAddOnAfter]="addOnAfterTemplate1">
                <input
                  nz-input
                  formControlName="fiatAmount"
                  readonly
                  class="onboard-disabled"
                />
              </nz-input-group>
              <ng-template #addOnAfterTemplate1>
                <label>{{ this.currency }}</label>
              </ng-template>
              <ng-template #receivedError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Token Received</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <!-- <nz-alert nzType="info" [nzDescription]="descriptionTemplate" nzShowIcon></nz-alert>
          <ng-template #descriptionTemplate>
            <h5 nz-typography>
              Please ensure that your fiat collateral account has sufficient balance as insufficient balance may result
              in
              failed recharge.
            </h5>
          </ng-template> -->
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelTopUp()">Back</button>
    <button
      nz-button
      nzType="primary"
      (click)="topUp()"
      [nzLoading]="isLoading"
      [disabled]="!this.topUpForm.valid"
    >
      Submit
    </button>
  </div>
</nz-modal>
<nz-modal
  [(nzVisible)]="isVisibleWithdraw"
  nzTitle="Withdraw"
  (nzOnCancel)="cancelWithdraw()"
  [nzClosable]="false"
  [nzWidth]="800"
  nzCentered="true"
>
  <div *nzModalContent>
    <form nz-form [formGroup]="withdrawForm">
      <div nz-row [nzGutter]="24" nzJustify="center" nzAlign="middle">
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Commercial Bank
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="commercialBankError"
              nzSpan="16"
              class="m-b-20"
            >
              <input
                nz-input
                formControlName="commercialBank"
                readonly
                class="onboard-disabled"
              />
              <ng-template #commercialBankError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Commercial Bank</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Wallet Address
            </nz-form-label>
            <nz-form-control [nzErrorTip]="walletAddressError" nzSpan="16">
              <input
                nz-input
                formControlName="chainAccountAddress"
                readonly
                class="onboard-disabled"
              />
              <div>
                {{ 'Available Amount: ' }}
                {{
                  (this.balance | map: 'toThousandthMark') + ' ' + this.currency
                }}
              </div>
              <ng-template #walletAddressError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Wallet Address</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Bank Account
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="bankAccountError"
              nzSpan="16"
              class="m-b-20"
            >
              <input
                nz-input
                formControlName="reserveAccount"
                readonly
                class="onboard-disabled"
              />
              <ng-template #bankAccountError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Bank Account</ng-container
                >
                <ng-container *ngIf="control.hasError('regular1')"
                  >The maximum limit is 30 characters.</ng-container
                >
                <ng-container *ngIf="control.hasError('regular')"
                  >Format error. Please use numbers.</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Amount
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="amount1Error"
              nzSpan="16"
              class="m-b-20"
            >
              <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
                <input nz-input formControlName="amount" />
              </nz-input-group>
              <ng-template #addOnAfterTemplate>
                <label>{{ this.reserveCurrency }}</label>
              </ng-template>
              <ng-template #amount1Error let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Amount</ng-container
                >
                <ng-container *ngIf="control.hasError('regular')"
                  >You can enter only positive integer numbers with a maximum of
                  2 decimal places.</ng-container
                >
                <ng-container *ngIf="control.hasError('regular1')"
                  >The Amount cannot be greater than the Available
                  Amount</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzSpan="8" class="text-left">
              Token Received
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="receivedError"
              nzSpan="16"
              class="m-b-20"
            >
              <nz-input-group [nzAddOnAfter]="addOnAfterTemplate1">
                <input
                  nz-input
                  formControlName="fiatAmount"
                  readonly
                  class="onboard-disabled"
                />
              </nz-input-group>
              <ng-template #addOnAfterTemplate1>
                <label>{{ this.currency }}</label>
              </ng-template>
              <ng-template #receivedError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Token Received</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelWithdraw()">Back</button>
    <button
      nz-button
      nzType="primary"
      (click)="withdraw()"
      [nzLoading]="isLoading"
      [disabled]="!this.withdrawForm.valid"
    >
      Submit
    </button>
  </div>
</nz-modal>
<nz-modal [(nzVisible)]="isVisibleEnterPassword" nzTitle="Enter Login Password" (nzOnCancel)="cancelEnterPassword()"
  [nzClosable]="false" [nzWidth]="700" nzCentered="true">
  <div *nzModalContent>
    <form nz-form [formGroup]="passwordForm">
      <div nz-row [nzGutter]="24" nzJustify="center" nzAlign="middle">
        <div nz-col nzSpan="20">
          <nz-form-item class="m-t-15">
            <nz-form-label nzRequired nzSpan="6" class="text-left">
              Password
            </nz-form-label>
            <nz-form-control [nzErrorTip]="passwordError" nzSpan="18">
              <input [type]="'password'" nz-input formControlName="pwd" />
              <ng-template #passwordError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Password</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelEnterPassword()">Cancel</button>
    <button nz-button nzType="primary" (click)="confirmEnterPassword()" [nzLoading]="isOkLoading"
      [disabled]="!this.passwordForm.valid">Confirm</button>
  </div>
</nz-modal>