<!--
 * @Author: chenyuting
 * @Date: 2024-12-23 14:20:16
 * @LastEditors: chenyuting
 * @LastEditTime: 2024-12-25 15:09:33
 * @Description: 
-->
<app-card-table-wrap [isNormalTable]="true" tableTitle="Internal Notifications">
  <app-ant-table
    (changePageSize)="changePageSize($event)"
    (changePageNum)="getDataList($event)"
    [tableConfig]="tableConfig"
    [tableData]="dataList"
  ></app-ant-table
  ><ng-template #numberTpl let-key="key">
    <span [title]="key">{{ key }}</span>
  </ng-template>
  <ng-template #operationTpl let-chatMsgId="chatMsgId" let-msgType="msgType">
    <ng-container *appAuth="''">
      <span class="operate-text" (click)="getModal(chatMsgId)"> Details </span>
    </ng-container>
    <ng-container *appAuth="''">
      <span class="operate-text" (click)="onDelete(chatMsgId, msgType)">
        Delete
      </span>
    </ng-container></ng-template
  >
</app-card-table-wrap>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Internal notifications"
  (nzOnCancel)="cancel()"
  [nzClosable]="false"
  [nzWidth]="600"
  nzCentered="true"
>
  <div *nzModalContent>
    <div class="m-l-15 m-r-15">111111</div>
    <div
      style="display: flex; justify-content: right; align-items: center"
      class="m-t-20 operate-text"
    >
      {{ 'time' }}
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="cancel()">Close</button>
  </div>
</nz-modal>
