<!--
 * @Author: zhangxuefeng
 * @Date: 2023-10-17 13:39:28
 * @LastEditors: chenyuting
 * @LastEditTime: 2024-12-18 14:19:15
 * @Description: 
-->
<div>
  <app-logo-title></app-logo-title>
  <div>
    <ng-container>
      <nz-alert
        nzShowIcon
        nzType="info"
        nzMessage=""
        [nzDescription]="descriptionTemplate1"
        class="m-b-10 alertsp"
      ></nz-alert>
      <ng-template #descriptionTemplate1>
        <h5 nz-typography>
          Commercial bank onboarding,please input the following information.
        </h5>
      </ng-template>
    </ng-container>
    <div class="bn-onboarding">
      <form nz-form>
        <div nz-row nzJustify="center" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div class="onboarding-title">Basic Information</div>
          </div>
        </div>
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          class="m-b-10"
          nzGutter="8"
        >
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div nz-row nzJustify="space-between" nzGutter="8">
              <div nz-col nzSpan="12" class="enterpriseName">
                <nz-form-item>
                  <nz-form-label nzRequired nzSpan="24"
                    >Commercial Bank Name</nz-form-label
                  >
                  <nz-form-control [nzErrorTip]="enterpriseError">
                    <div nz-row [formGroup]="validateForm">
                      <div nz-col nzSpan="24">
                        <input
                          nz-input
                          formControlName="spName"
                          class="onboard-input onboard-disabled"
                          readonly
                          maxlength="100"
                        />
                      </div>
                    </div>
                    <ng-template #enterpriseError let-control>
                      <ng-container *ngIf="control.hasError('required')"
                        >Please input your Commercial Bank Name</ng-container
                      >
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzSpan="24">BIC </nz-form-label>
                  <nz-form-control [nzErrorTip]="bicError">
                    <div nz-row [formGroup]="validateForm">
                      <div nz-col nzSpan="24">
                        <input
                          nz-input
                          formControlName="bankBic"
                          class="onboard-input onboard-disabled"
                          readonly
                          maxlength="50"
                        />
                      </div>
                    </div>
                    <ng-template #bicError let-control>
                      <ng-container *ngIf="control.hasError('required')"
                        >Please input your BIC</ng-container
                      >
                      <ng-container *ngIf="control.hasError('regular')"
                        >Characters of 2 ~ 50 letters or numbers
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 nodeName">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzRequired nzSpan="10"
              >Official Website
            </nz-form-label>
            <nz-form-control [nzErrorTip]="websiteError">
              <div nz-row [formGroup]="validateForm">
                <div nz-col nzSpan="24">
                  <input
                    nz-input
                    formControlName="spBriefIntroduction"
                    class="onboard-input"
                  />
                </div>
              </div>
              <ng-template #websiteError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Official Website</ng-container
                >
                <ng-container *ngIf="control.hasError('regular')"
                  >Less than 100 characters</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 nodeName">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzSpan="10">Description </nz-form-label>
            <nz-form-control [nzErrorTip]="nodeNameError">
              <div nz-row [formGroup]="validateForm">
                <div nz-col nzSpan="24">
                  <textarea
                    nz-input
                    formControlName="spDescription"
                    class="onboard-input"
                  ></textarea>
                </div>
              </div>
              <ng-template #nodeNameError let-control>
                <!-- <ng-container *ngIf="control.hasError('required')"
                  >Please input your Description</ng-container
                > -->
                <ng-container *ngIf="control.hasError('regular')"
                  >Less than 500 characters</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div class="onboarding-title">Currency Information</div>
          </div>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 nodeName">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzRequired nzSpan="10"
              >Custodian Bank
            </nz-form-label>
            <nz-form-control [nzErrorTip]="centralBankError">
              <div nz-row [formGroup]="validateForm">
                <div nz-col nzSpan="24">
                  <input
                    nz-input
                    formControlName="centralBankName"
                    class="onboard-input onboard-disabled"
                    readonly
                  />
                </div>
              </div>
              <ng-template #centralBankError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Custodian Bank</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          class="m-b-10"
          nzGutter="8"
        >
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div nz-row nzJustify="space-between" nzGutter="8">
              <div nz-col nzSpan="12" class="enterpriseName">
                <nz-form-item>
                  <nz-form-label nzRequired nzSpan="24">Currency</nz-form-label>
                  <nz-form-control [nzErrorTip]="currencyError">
                    <div nz-row [formGroup]="validateForm">
                      <div nz-col nzSpan="24">
                        <input
                          nz-input
                          formControlName="peggedCurrency"
                          class="onboard-input onboard-disabled"
                          readonly
                          maxlength="100"
                        />
                      </div>
                    </div>
                    <ng-template #currencyError let-control>
                      <ng-container *ngIf="control.hasError('required')"
                        >Please input your Currency</ng-container
                      >
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzSpan="24"
                    >Blockchain
                  </nz-form-label>
                  <nz-form-control [nzErrorTip]="blockchainError">
                    <div nz-row [formGroup]="validateForm">
                      <div nz-col nzSpan="24">
                        <input
                          nz-input
                          formControlName="blockchain"
                          class="onboard-input onboard-disabled"
                          readonly
                          maxlength="50"
                        />
                      </div>
                    </div>
                    <ng-template #blockchainError let-control>
                      <ng-container *ngIf="control.hasError('required')"
                        >Please input your Blockchain</ng-container
                      >
                      <ng-container *ngIf="control.hasError('regular')"
                        >Characters of 2 ~ 50 letters or numbers
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div class="onboarding-title">Contact Information</div>
          </div>
        </div>
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          class="m-b-10 contactName"
          nzGutter="8"
        >
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div nz-row nzJustify="space-between" nzGutter="8">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzSpan="24"
                    >Contact Name
                  </nz-form-label>
                  <nz-form-control [nzErrorTip]="contactNameError">
                    <div nz-row [formGroup]="validateForm">
                      <div nz-col nzSpan="24">
                        <input
                          nz-input
                          formControlName="contactName"
                          class="onboard-input onboard-disabled"
                          readonly
                          maxlength="50"
                        />
                      </div>
                    </div>
                    <ng-template #contactNameError let-control>
                      <ng-container *ngIf="control.hasError('required')"
                        >Please input your Contact Name</ng-container
                      >
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzSpan="24">Mobile Number </nz-form-label>
                  <nz-form-control>
                    <div nz-row [formGroup]="validateForm">
                      <div nz-col nzSpan="24">
                        <input
                          nz-input
                          formControlName="mobileNumber"
                          class="onboard-input onboard-disabled"
                          readonly
                          maxlength="20"
                        />
                      </div>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 nodeName">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzRequired nzSpan="10">Email </nz-form-label>
            <nz-form-control [nzErrorTip]="emailError">
              <div nz-row [formGroup]="validateForm">
                <div nz-col nzSpan="24">
                  <input
                    nz-input
                    formControlName="email"
                    class="onboard-input onboard-disabled"
                    readonly
                    maxlength="50"
                  />
                </div>
              </div>
              <ng-template #emailError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Email</ng-container
                >
                <ng-container *ngIf="control.hasError('regular')"
                  >Node Name format is incorrect</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 nodeName">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzRequired nzSpan="10"
              >Detailed Address
            </nz-form-label>
            <nz-form-control [nzErrorTip]="addressError">
              <div nz-row [formGroup]="validateForm">
                <div nz-col nzSpan="24">
                  <input
                    nz-input
                    formControlName="detailedAddress"
                    class="onboard-input"
                    maxlength="50"
                  />
                </div>
              </div>
              <ng-template #addressError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your Detailed Address</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div class="onboarding-title">Activate Service</div>
          </div>
        </div>
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          class="m-b-10"
          nzGutter="8"
          style="margin-top: -40px"
        >
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div nz-row nzJustify="space-between" nzGutter="8">
              <div nz-col nzSpan="12" class="enterpriseName">
                <nz-form-item>
                  <nz-form-label nzSpan="24"></nz-form-label>
                  <nz-form-control>
                    <div nz-row [formGroup]="validateForm">
                      <div nz-col nzSpan="24">
                        <label
                          nz-checkbox
                          nzDisabled
                          nzChecked
                          formControlName="interbankSettlementStatus"
                        >
                          Interbank Cross-border Settlement<i
                            class="m-l-5"
                            style="color: #3c5686"
                            nz-icon
                            nzType="question-circle"
                            nzTooltipPlacement="right"
                            nzTheme="fill"
                            nz-tooltip
                            [nzTooltipTitle]="
                              'Interbank cross-border settlement refers to the process by whichfinancial institutions, typically banks, exchange currencies and settletransactions on behalf of their clients across national borders.'
                            "
                            nzTooltipColor="#3c5686"
                            nzTooltipTrigger="click"
                            nzTooltipOverlayClassName="buils"
                          ></i>
                        </label>
                      </div>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzSpan="24"></nz-form-label>
                  <nz-form-control>
                    <div nz-row [formGroup]="validateForm">
                      <div nz-col nzSpan="24">
                        <label
                          nz-checkbox
                          nzValue="2"
                          formControlName="paymentStatus"
                          >Cross-border Payment & Remittance<i
                            class="m-l-5"
                            style="color: #3c5686"
                            nz-icon
                            nzType="question-circle"
                            nzTooltipPlacement="right"
                            nzTheme="fill"
                            nz-tooltip
                            [nzTooltipTitle]="
                              'Cross-border Payment & Remittance refers to the process oftransferring funds between two different countries or currencies'
                            "
                            nzTooltipColor="#3c5686"
                            nzTooltipTrigger="click"
                            nzTooltipOverlayClassName="buils"
                          ></i>
                        </label>
                      </div>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div class="onboarding-title">User Notice</div>
          </div>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 nodeName">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzSpan="10" nzRequired style="display: none">
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="websiteError"
              style="margin-top: -10px"
            >
              <div nz-row [formGroup]="validateForm">
                <div nz-col nzSpan="24">
                  <span style="color: #ff4d4f; font-size: 18px" class="m-r-5">{{
                    '*'
                  }}</span>
                  <label nz-checkbox formControlName="userNotice">
                    I have read and agree the
                    <a (click)="goToPdf()">
                      <span>{{
                        '"' + 'Notice for Commercial Bank Onboarding' + '"'
                      }}</span>
                    </a></label
                  >
                </div>
              </div>
              <ng-template #websiteError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please check the User Notice</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 m-t-15">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div nz-row>
              <div nz-col nzSpan="24" style="text-align: end">
                <nz-space>
                  <button
                    *nzSpaceItem
                    nz-button
                    [nzSize]="'large'"
                    nzType="primary"
                    [nzLoading]="onSubmitStatus"
                    (click)="onSubmit()"
                  >
                    Submit
                  </button></nz-space
                >
              </div>
            </div>
          </nz-form-item>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <ng-template #titleTemplate let-thing>
  <div>
    <div style="color: black" class="m-b-10">
      How to generate a wallet address?
    </div>
    <div class="mt-1 font-serif" style="color: #3c5686">
      Step 1: Download jar file and use as below
      <button
        (click)="onDownload()"
        nz-button
        nzType="primary"
        [nzShape]="'circle'"
      >
        <i nz-icon nzType="download" nzTheme="outline"></i>
      </button>
      <p>(jar file MD5: 68dda8fe4181074b9d281d7936d1dcea)</p>
    </div>
    <div class="mt-1 font-serif" style="color: #3c5686">
      Step 2: Use JDK 8+ to run below command so as to generate besu account
      document offline (you need to input location and dest file name during
      generation):
      <p class="mt-4">
        On linux/macOS: java -jar "path-to-downloaded-jar-file"
      </p>
      <p>On Windows: java -jar path-to-downloaded-jar-file</p>
    </div>
  </div>
</ng-template> -->
