<nz-card>
  <div nz-row>
    <div nz-col [nzSpan]="24">
      <!-- <nz-descriptions nzTitle="Operation Type" [nzBordered]="false">
          <nz-descriptions-item>Onboard</nz-descriptions-item>
        </nz-descriptions> -->

      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-card
            class="m-b-15"
            [nzTitle]="'Enterprise Basic Information'"
            [nzBordered]="false"
          >
            <nz-descriptions
              [nzColumn]="1"
              [nzColon]="false"
              [nzBordered]="false"
              class="card-descriptions-order"
              [nzBordered]="false"
            >
              <nz-descriptions-item nzTitle="Enterprise Code">
                {{ enterpriseDetail.enterpriseCode }}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Enterprise Name">
                {{ enterpriseDetail.enterpriseName }}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Contact Name">
                {{ enterpriseDetail.contactName }}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Email">
                {{ enterpriseDetail.contactEmail }}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Generate Wallet">
                {{ 11111 }}
              </nz-descriptions-item>
              <nz-descriptions-item
                nzTitle="Maximum transfer/FX purchasing amount allowed without requiring approval"
              >
                <div class="small-text">
                  (excluding transactions within a single account)
                </div>
                {{ 2222 }}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Description">
                {{ enterpriseDetail.remarks }}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Created On">
                {{ enterpriseDetail.createTime | map: 'timeStamp' }}
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-card>

          <nz-card
            class="m-b-15"
            [nzTitle]="'Enterprise Account Information'"
            [nzBordered]="false"
          >
            <nz-descriptions
              [nzColumn]="1"
              [nzColon]="false"
              [nzBordered]="false"
              class="card-descriptions-order"
              [nzBordered]="false"
            >
              <nz-descriptions-item nzTitle="Enterprise Bank">
                {{ enterpriseDetail.enterpriseFlatBank }}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Enterprise Account">
                {{ enterpriseDetail.enterpriseFlatAccount }}
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-card>

          <nz-card [nzTitle]="'Token Permission'" [nzBordered]="false">
            <nz-descriptions
              [nzColumn]="1"
              [nzColon]="false"
              [nzBordered]="false"
              class="card-descriptions-order"
              [nzBordered]="false"
            >
              <nz-descriptions-item
                *ngFor="let token of enterpriseDetail.tokenList"
              >
                <div nz-row nzAlign="middle">
                  <img
                    nz-col
                    src="../../../../../assets/imgs/check.svg"
                    alt=""
                    width="20px"
                    height="20px"
                    class="m-r-8"
                  />
                  <span nz-col>{{ token.tokenName }}</span>
                </div>
              </nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions
              [nzColumn]="1"
              [nzColon]="false"
              [nzBordered]="false"
              class="card-descriptions-order"
            >
              <nz-descriptions-item nzTitle="Status">
                <nz-tag nzColor="success">Active</nz-tag>
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-card>
        </nz-col>

        <nz-col [nzSpan]="12">
          <nz-card
            class="m-b-15"
            [nzTitle]="'Transaction Information'"
            [nzBordered]="false"
          >
            <nz-descriptions [nzColumn]="1" [nzBordered]="true">
              <nz-descriptions-item nzTitle="Transaction Hash">
                --
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Transaction Time">
                --
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-card>

          <nz-card
            class="m-b-15"
            [nzTitle]="'Access Information'"
            [nzBordered]="false"
          >
            <nz-descriptions [nzColumn]="1" [nzBordered]="true">
              <nz-descriptions-item nzTitle="OpenAPI Access">
                Please <a>download</a> the access key pair for OpenAPI
                authentication.
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Access Address">
                https://xxx.xxxxx.io
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Access Key">
                ko8l7ju6h7g54f3k8oi7ju6h5ygrtf
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-card>

          <nz-card [nzTitle]="'Transaction Status'" [nzBordered]="false">
            <nz-timeline>
              <nz-timeline-item nzColor="green">
                <h4>Created</h4>
                <p>on Apr 14, 2024, 12:14:41 UTC+08:00 by admin</p>
              </nz-timeline-item>
              <nz-timeline-item nzColor="green">
                <h4>Approved</h4>
                <p>on Apr 14, 2024, 12:14:44 UTC+08:00 by user 01</p>
              </nz-timeline-item>
              <nz-timeline-item nzColor="green">
                <h4>On-chain execution</h4>
                <p>
                  The enterprise onboarding is executed successfully on the
                  chain
                </p>
              </nz-timeline-item>
            </nz-timeline>
          </nz-card>
        </nz-col>
      </nz-row>
    </div>
  </div>
</nz-card>

<style>
  .small-text {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    margin-bottom: 4px;
  }
</style>
