<app-page-header
  [backTpl]="backTpl"
  [backUrl]="'/poc/poc-enterprise/wallet'"
  [pageHeaderInfo]="pageHeaderInfo"
></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<div class="normal-detail-table-wrap">
  <nz-card>
    <div nz-row>
      <div
        nz-col
        [nzXXl]="14"
        [nzXl]="14"
        [nzLg]="24"
        [nzMd]="14"
        [nzSm]="24"
        [nzXs]="24"
      >
        <nz-card class="m-r-8 none-bottom" style="border: none">
          <nz-card
            nzBordered="false"
            nzTitle="Wallet Creation Details"
            [nzBodyStyle]="{ 'border-bottom': '1px solid #e8e8e8' }"
            class="m-b-10"
            ><nz-descriptions
              nzTitle=""
              [nzColumn]="1"
              [nzColon]="false"
              [nzBordered]="false"
              class="card-descriptions-order"
            >
              <nz-descriptions-item nzTitle="Operation Type">{{
                'Create'
              }}</nz-descriptions-item></nz-descriptions
            ></nz-card
          >
          <nz-card
            nzBordered="false"
            nzTitle="Wallet Information"
            [nzBodyStyle]="{ 'border-bottom': '1px solid #e8e8e8' }"
          >
            <nz-descriptions
              nzTitle=""
              [nzColumn]="1"
              [nzColon]="false"
              [nzBordered]="false"
              class="card-descriptions-order"
            >
              <nz-descriptions-item nzTitle="Wallet Address"
                ><p
                  nz-typography
                  [nzCopyable]="info?.chainAccountAddress ? true : false"
                  [nzCopyText]="info?.chainAccountAddress"
                >
                  {{ info?.chainAccountAddress }}
                </p> </nz-descriptions-item
              ><nz-descriptions-item nzTitle="Enterprise Code"
                ><p
                  nz-typography
                  [nzCopyable]="info?.enterpriseCode ? true : false"
                  [nzCopyText]="info?.enterpriseCode"
                >
                  {{ info?.enterpriseCode }}
                </p></nz-descriptions-item
              ><nz-descriptions-item nzTitle="Token">{{
                info?.currency
              }}</nz-descriptions-item>
            </nz-descriptions>
          </nz-card>
          <nz-card
            nzTitle="Creation Information"
            nzBordered="false"
            [nzBodyStyle]="{ 'border-bottom': '1px solid #e8e8e8' }"
            class="m-t-25"
            style="border: none"
          >
            <nz-descriptions
              nzTitle=""
              [nzColumn]="1"
              [nzColon]="false"
              [nzBordered]="false"
              class="card-descriptions-order"
            >
              <nz-descriptions-item nzTitle="Created by">{{
                info?.createUser
              }}</nz-descriptions-item>
              ><nz-descriptions-item nzTitle="Created on">{{
                info?.createTime | map: 'timeStamp'
              }}</nz-descriptions-item>
            </nz-descriptions>
          </nz-card>
          <nz-card
            nzTitle="Wallet Creation Transaction Information"
            nzBordered="false"
            class="m-t-25"
            [nzBodyStyle]="{ 'border-bottom': '1px solid #e8e8e8' }"
            style="border: none"
          >
            <nz-descriptions
              nzTitle=""
              [nzColumn]="1"
              [nzColon]="false"
              [nzBordered]="false"
              class="card-descriptions-order"
            >
              <nz-descriptions-item nzTitle="Transaction Hash">{{
                info?.txHash | map: 'nullValue'
              }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Transaction Time">{{
                info?.txTime | map: 'timeStamp'
              }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Status"
                ><nz-tag
                  [nzColor]="info?.status | map: 'enterpriseWalletStatusColor'"
                  >{{ info?.status | map: 'enterpriseWalletStatus' }}</nz-tag
                ></nz-descriptions-item
              >
            </nz-descriptions>
          </nz-card>
        </nz-card>
      </div>
      <div
        nz-col
        [nzXXl]="10"
        [nzXl]="10"
        [nzLg]="24"
        [nzMd]="10"
        [nzSm]="24"
        [nzXs]="24"
        style="background-color: #fff"
      >
        <app-timeline [info]="info"></app-timeline>
      </div>
    </div>
  </nz-card>
</div>
