<app-page-header [backTpl]="backTpl" [backUrl]="'/poc/poc-settlement/settlement'"
  [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<div class="normal-detail-table-wrap">
  <nz-card [nzBordered]="true" nzTitle="Basic Information" class="m-b-10">
    <nz-descriptions nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }" [nzColon]="false"
      [nzBordered]="true">
      <nz-descriptions-item nzTitle="Model Code">{{
        info.settlementModelCode
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Model Name">{{
        info.settlementModelName
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Currency Pair">{{
        info.formRateCurrency + '-' + info.formRatePlatform + '->' + info.toRateCurrency + '-' + info.toRatePlatform
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Charging Model">{{
        info.chargingModel | map: 'chargingModel'
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Commission">{{
        info.chargingModel === 1 ? (info.ratioCommission + '%') : (info.regularCommission + ' ' + info.formRateCurrency + '-'
        + info.formRatePlatform)
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Max Commission" *ngIf="info.chargingModel === 1">{{
        info.maxCommission + ' ' + info.formRateCurrency + '-' + info.formRatePlatform + '(Per transaction)'
        }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Creation Time">{{
        info.createDate | map: 'timeStamp'
        }}</nz-descriptions-item>
    </nz-descriptions>
  </nz-card>
  <nz-card [nzBordered]="true" nzTitle="Revision History" class="m-b-10">
    <app-ant-table (changePageSize)="changePageSize($event)" (changePageNum)="getInfo()" [tableConfig]="tableConfig"
      [tableData]="dataList">
    </app-ant-table>
    <ng-template #commissionTpl let-ratioCommission="ratioCommission" let-regularCommission="regularCommission"
      let-chargingModel="chargingModel" let-formRateCurrency="formRateCurrency" let-formRatePlatform="formRatePlatform">
      <span [title]="chargingModel === 1 ? (ratioCommission + '%') : (regularCommission + ' ' + formRateCurrency + '-' +
      formRatePlatform)">{{
        chargingModel === 1 ? (ratioCommission + '%') : (regularCommission + ' ' + formRateCurrency + '-' +
        formRatePlatform)
        }}</span>
    </ng-template>
    <ng-template #maxCommissionTpl let-maxCommission="maxCommission" let-formRateCurrency="formRateCurrency"
      let-formRatePlatform="formRatePlatform">
      <span [title]="maxCommission ? maxCommission + ' ' + formRateCurrency + '-' +
      formRatePlatform : '--'">{{maxCommission ? maxCommission + ' ' + formRateCurrency + '-' +
        formRatePlatform : '--'}}</span>
    </ng-template>
  </nz-card>

</div>