<app-page-header
  [backTpl]="backTpl"
  [backUrl]="'/poc/poc-enterprise/enterprise-onboarding'"
  [pageHeaderInfo]="pageHeaderInfo"
></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>

<div class="normal-detail-table-wrap">
  <nz-card>
    <nz-tabset>
      <nz-tab nzTitle="Basic Information">
        <app-basic-info [enterpriseId]="enterpriseId" [status]="status"></app-basic-info>
      </nz-tab>
      <nz-tab nzTitle="Operation Records">
        <app-operation-records [enterpriseId]="enterpriseId"></app-operation-records>
      </nz-tab>
      <nz-tab nzTitle="Wallets">
        <app-wallets [enterpriseId]="enterpriseId"></app-wallets>
      </nz-tab>
    </nz-tabset>
  </nz-card>
</div>
