<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>

<div class="normal-table-wrap">
  <nz-card [nzBodyStyle]="{ 'padding-bottom': 0 }" [nzTitle]="'Billing Query'" class="m-b-10">
    <form nz-form nzLayout="vertical">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>Billing No.</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="" name="billNo" [(ngModel)]="searchParam.billNo" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>Billing Cycle</nz-form-label>
            <nz-form-control>
              <nz-date-picker nzMode="month" name="billCycle" [(ngModel)]="searchParam.billCycle"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>Bank ID</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="" name="bankId" [(ngModel)]="searchParam.bankId" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label>Bank Name</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="" name="bankName" [(ngModel)]="searchParam.bankName" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">Txn Currency</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="" name="currencyPair" [(ngModel)]="searchParam.currencyPair">
                <nz-option nzValue="" nzLabel="All"></nz-option>
                <nz-option *ngFor="let item of currencyList" [nzValue]="item.key"
                  [nzLabel]="item.sourceCurrency + '-' + item.sourcePlatform + '->' + item.targetCurrency + '-' + item.targetPlatform">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true">Creation Date</nz-form-label>
            <nz-form-control>
              <nz-range-picker style="width: 100%" name="creation" [(ngModel)]="searchParam.creation"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzXXl]="24" [nzXl]="24" [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXs]="24"
          class="m-b-8 text-right p-0">
          <nz-form-item>
            <nz-form-label [nzNoColon]="true"></nz-form-label>
            <nz-form-control>
              <div nz-col [nzSpan]="24">
                <button nz-button [nzType]="'primary'" (click)="getDataList(this.tableQueryParams)">
                  Query
                </button>
                <a nz-button nzType="link" class="m-l-15" (click)="resetForm()">Reset</a>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <app-card-table-wrap [tableTitle]="'Billing List'" [isNormalTable]="true">
    <app-ant-table (changePageSize)="changePageSize($event)" (changePageNum)="getDataList($event)"
      [tableConfig]="tableConfig" [tableData]="dataList"></app-ant-table>
    <ng-template #currencyTpl let-formCurrency="formCurrency" let-formPlatform="formPlatform"
      let-toCurrency="toCurrency" let-toPlatform="toPlatform">
      <span [title]="(formCurrency + '-' + formPlatform + '->' + toCurrency + '-' + toPlatform)">{{
        (formCurrency + '-' + formPlatform + '->' + toCurrency + '-' + toPlatform)
        }}</span>
    </ng-template>
    <ng-template #billingAmountTpl let-billAmount="billAmount" let-formCurrency="formCurrency"
      let-formPlatform="formPlatform">
      <span [title]="billAmount + ' ' + formCurrency + '-' + formPlatform">{{
        (billAmount + ' ' + formCurrency + '-' + formPlatform) | map:'null'
        }}</span>
    </ng-template>
    <ng-template #operationTpl let-billNo="billNo">
      <ng-container *appAuth="'R02040201'">
        <span class="operate-text" (click)="onInvoice(billNo)">
          Invoice
        </span>
      </ng-container>
      <ng-container *appAuth="'R02040202'">
        <span class="operate-text" (click)="onDetail(billNo)">
          Detail
        </span>
      </ng-container>
    </ng-template>
  </app-card-table-wrap>
</div>
<ng-container>
  <nz-modal [(nzVisible)]="isVisibleInvoice" [nzTitle]="titleTpl" (nzOnCancel)="cancelInvoice()" [nzClosable]="false"
    [nzWidth]="1200" nzCentered="true">
    <div *nzModalContent class="card-tpl">
      <nz-card class="m-b-10" style="background-color: #f7f9fe;">
        <div style="font-size: 18px;" class="m-b-10">Billing Amount <span class="m-l-15" style="font-weight: 500;">{{
            (invoiceInfo.billAmount + ' ' + invoiceInfo.formCurrency + '-' + invoiceInfo.formPlatform) | map:'null'
            }}</span></div>
        <nz-descriptions class="card" nzLayout="vertical" [nzColumn]="{ xxl: 3, xl: 3, lg: 3, md: 2, sm: 2, xs: 1 }"
          [nzColon]="false" [nzBordered]="false">
          <nz-descriptions-item nzTitle="Billing No.">{{ invoiceInfo.billNo }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Billing Cycle">{{
            invoiceInfo.billCycle | map: 'monthStamp'
            }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Bank">{{
            (invoiceInfo.bankId + '-' + invoiceInfo.bankName) | map:'null'
            }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Txn Currency">{{
            (invoiceInfo.formCurrency + '-' + invoiceInfo.formPlatform + '->' + invoiceInfo.toCurrency + '-' +
            invoiceInfo.toPlatform) | map:'null'
            }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Creation Time">{{
            invoiceInfo.createDate | map: 'timeStamp'
            }}</nz-descriptions-item>
        </nz-descriptions>
      </nz-card>
      <!-- <app-ant-table [tableConfig]="invoiceConfig" [tableData]="invoiceList"
        *ngIf="invoiceList && invoiceList.length > 0"></app-ant-table> -->
    </div>
    <div *nzModalFooter>
      <div nz-col nzSpan="24" style="text-align: end">
        <nz-space>
          <button *nzSpaceItem nz-button nzType="default" (click)="cancelInvoice()">
            Cancel
          </button>
          <button *nzSpaceItem nz-button nzType="primary" (click)="getExportPdf()">
            Export as PDF
          </button></nz-space>
      </div>
    </div>
  </nz-modal>
  <ng-template #titleTpl>
    <div class="flex">
      <div style="color: #3c5686; font-size: 18px;">PoC#9: Facilitating Foreign Exchange on Digital Currencies</div>
      <div style="font-size: 24px;">Invoice</div>
    </div>
  </ng-template>
  <!-- <ng-template #fromTpl let-fromAccount="fromAccount" let-fromBankId="fromBankId" let-fromBankName="fromBankName">
    <span [title]="fromAccount">{{ fromAccount }}</span>
    <br>
    <span [title]="fromBankId + '-' + fromBankName">{{ fromBankId + '-' + fromBankName }}</span>
  </ng-template>
  <ng-template #amountTpl let-fromAmount="fromAmount" let-toAmount="toAmount" let-formCurrency="formCurrency"
    let-formPlatform="formPlatform" let-toCurrency="toCurrency" let-toPlatform="toPlatform">
    <span
      [title]="fromAmount + ' ' + formCurrency + '-' + formPlatform + '->' + toAmount + ' ' + toCurrency + '-' + toPlatform">{{
      fromAmount + ' ' + formCurrency + '-' + formPlatform + '->' + toAmount + ' ' + toCurrency + '-' + toPlatform
      }}</span>
  </ng-template>
  <ng-template #commissionFeeTpl let-commissionFee="commissionFee" let-formCurrency="formCurrency"
    let-formPlatform="formPlatform">
    <span title="">{{ commissionFee + ' ' + formCurrency + '-' + formPlatform}}</span>
  </ng-template> -->
</ng-container>
<nz-modal [(nzVisible)]="isVisibleExport" nzTitle="Export" (nzOnCancel)="cancelExportPdf()" [nzClosable]="false">
  <div *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item *ngFor="let control of listOfControl; index as i">
        <nz-form-label nzRequired nzSpan="24" *ngIf="i === 0">
          Please enter the email address for receiving records:
        </nz-form-label>
        <nz-form-control [nzErrorTip]="emailError" nzSpan="24">
          <div nz-row class="flex">
            <div nz-col nzSpan="20">
              <input class="passenger-input" nz-input [attr.id]="control.id"
                [formControlName]="control.controlInstance" />
            </div>
            <div nz-col nzSpan="4" nz-icon nzType="minus-circle-o" class="dynamic-delete-button"
              (click)="removeField(control, $event)" *ngIf="i !== 0">
            </div>
            <ng-template #emailError let-control>
              <ng-container *ngIf="control.hasError('required')">Please enter the email</ng-container>
              <ng-container *ngIf="control.hasError('regular')">Email format error</ng-container>
            </ng-template>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nzSpan="24">
        <nz-form-control>
          <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
            <span nz-icon nzType="plus"></span>
            Add email
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelExportPdf()">Cancel</button>
    <button nz-button nzType="primary" (click)="onExportPdf()" [nzLoading]="isLoading"
      [disabled]="!this.validateForm.valid">Confirm</button>
  </div>
</nz-modal>