<!--
 * @Author: zhangxuefeng
 * @Date: 2023-10-17 13:39:28
 * @LastEditors: chenyuting
 * @LastEditTime: 2025-01-04 10:27:03
 * @Description: 
-->
<div>
  <app-logo-title></app-logo-title>
  <div>
    <ng-container *ngIf="detailData['spStatus'] === 5">
      <nz-alert
        nzShowIcon
        nzType="info"
        nzMessage=""
        [nzDescription]="descriptionTemplate1"
        class="m-b-10 alertsp"
      ></nz-alert>
      <ng-template #descriptionTemplate1>
        <h5 nz-typography>
          Commercial bank onboarding application is currently being for
          approval. We kindly ask for your patience while we process your
          application. Thank you.
        </h5>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="detailData['spStatus'] === 15">
      <nz-alert
        nzShowIcon
        nzType="error"
        nzMessage=""
        [nzDescription]="descriptionTemplate1"
        class="m-b-10 alertsp"
        [nzAction]="actionTemplate"
      ></nz-alert>
      <ng-template #descriptionTemplate1>
        <h5 nz-typography>
          Unfortunately, the Commercial bank onboarding application did not pass
          the approval process.<br />
          Failure Reason:{{ detailData.remark }}
        </h5>
      </ng-template>
      <ng-template #actionTemplate>
        <button nz-button nzSize="small" nzType="primary" (click)="doAction()">
          Update
        </button>
      </ng-template>
    </ng-container>
    <div class="bn-onboarding">
      <form nz-form>
        <div nz-row nzJustify="center" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div class="onboarding-title">Basic Information</div>
          </div>
        </div>
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          class="m-b-10"
          nzGutter="8"
        >
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div nz-row nzJustify="space-between" nzGutter="8">
              <div nz-col nzSpan="12" class="enterpriseName">
                <nz-form-item>
                  <nz-form-label nzSpan="24"
                    >Commercial Bank Name
                    <i
                      class="m-l-5"
                      style="color: #3c5686; font-size: 20px"
                      nz-icon
                      nzType="question-circle"
                      nzTooltipPlacement="right"
                      nzTheme="fill"
                      nz-tooltip
                      [nzTooltipTitle]="
                        'The name of the commercial bank you provided when submitting the onboarding application to the custodian bank.'
                      "
                      nzTooltipColor="#3c5686"
                      nzTooltipTrigger="click"
                      nzTooltipOverlayClassName="buils"
                    ></i
                  ></nz-form-label>
                  <nz-form-control>
                    <div style="text-align: left">
                      {{ detailData.spName }}
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" class="countryId">
                <nz-form-item>
                  <nz-form-label nzSpan="24"
                    >BIC<i
                      class="m-l-5"
                      style="color: #3c5686; font-size: 20px"
                      nz-icon
                      nzType="question-circle"
                      nzTooltipPlacement="right"
                      nzTheme="fill"
                      nz-tooltip
                      [nzTooltipTitle]="
                        'The BIC you provided when submitting your onboarding application to the custodian bank.'
                      "
                      nzTooltipColor="#3c5686"
                      nzTooltipTrigger="click"
                      nzTooltipOverlayClassName="buils"
                    ></i
                  ></nz-form-label>
                  <nz-form-control>
                    <div style="text-align: left">
                      {{ detailData.bankBic }}
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 nodeName">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzSpan="10">Official Website</nz-form-label>
            <nz-form-control>
              <div style="text-align: left">
                {{ detailData.spBriefIntroduction }}
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 nodeName">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzSpan="10">Description </nz-form-label>
            <nz-form-control>
              <div style="text-align: left">
                {{ detailData.spDescription }}
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div class="onboarding-title">
              Currency Information<i
                class="m-l-5"
                style="color: #3c5686; font-size: 20px"
                nz-icon
                nzType="question-circle"
                nzTooltipPlacement="right"
                nzTheme="fill"
                nz-tooltip
                nzTooltipTitle="The system will automatically create the master wallet to enable you to access the token-based currency systems and the sandbox."
                nzTooltipColor="#3c5686"
                nzTooltipTrigger="click"
                nzTooltipOverlayClassName="buils"
              ></i>
            </div>
          </div>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 nodeName">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzSpan="10"
              >Custodian Bank<i
                class="m-l-5"
                style="color: #3c5686; font-size: 20px"
                nz-icon
                nzType="question-circle"
                nzTooltipPlacement="right"
                nzTheme="fill"
                nz-tooltip
                [nzTooltipTitle]="
                  'Your default custodian bank information associated with your account.'
                "
                nzTooltipColor="#3c5686"
                nzTooltipTrigger="click"
                nzTooltipOverlayClassName="buils"
              ></i>
            </nz-form-label>
            <nz-form-control>
              <div style="text-align: left">
                {{ detailData.centralBankName }}
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          class="m-b-10"
          nzGutter="8"
        >
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div nz-row nzJustify="space-between" nzGutter="8">
              <div nz-col nzSpan="12" class="enterpriseName">
                <nz-form-item>
                  <nz-form-label nzSpan="24"
                    >Home Currency<i
                      class="m-l-5"
                      style="color: #3c5686; font-size: 20px"
                      nz-icon
                      nzType="question-circle"
                      nzTooltipPlacement="right"
                      nzTheme="fill"
                      nz-tooltip
                      [nzTooltipTitle]="
                        'The digital currency information of the custodian bank you have accessed.'
                      "
                      nzTooltipColor="#3c5686"
                      nzTooltipTrigger="click"
                      nzTooltipOverlayClassName="buils"
                    ></i
                  ></nz-form-label>
                  <nz-form-control>
                    <div style="text-align: left">
                      {{ detailData.peggedCurrency }}
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" class="countryId">
                <nz-form-item>
                  <nz-form-label nzSpan="24"
                    >Blockchain
                    <i
                      class="m-l-5"
                      style="color: #3c5686; font-size: 20px"
                      nz-icon
                      nzType="question-circle"
                      nzTooltipPlacement="right"
                      nzTheme="fill"
                      nz-tooltip
                      [nzTooltipTitle]="
                        'The name of the blockchain network on which the digital currency smart contract of your connected custodian bank is deployed.'
                      "
                      nzTooltipColor="#3c5686"
                      nzTooltipTrigger="click"
                      nzTooltipOverlayClassName="buils"
                    ></i
                  ></nz-form-label>
                  <nz-form-control>
                    <div style="text-align: left">
                      {{ detailData.blockchain }}
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div class="onboarding-title">Contact Information</div>
          </div>
        </div>
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          class="m-b-10 contactName"
          nzGutter="8"
        >
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div nz-row nzJustify="space-between" nzGutter="8">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzSpan="24">Contact Name </nz-form-label>
                  <nz-form-control>
                    <div style="text-align: left">
                      {{ detailData.contactName }}
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzSpan="24">Mobile Number </nz-form-label>
                  <nz-form-control>
                    <div style="text-align: left">
                      {{ detailData.mobileNumber }}
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 nodeName">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzSpan="10">Email </nz-form-label>
            <nz-form-control>
              <div style="text-align: left">
                {{ detailData.email }}
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 nodeName">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzSpan="10">Detailed Address </nz-form-label>
            <nz-form-control>
              <div style="text-align: left">
                {{ detailData.detailedAddress }}
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div class="onboarding-title">Activated Services</div>
          </div>
        </div>
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          style="margin-top: -40px"
          class="m-b-10 nodeName"
        >
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzSpan="10"> </nz-form-label>
            <nz-form-control>
              <div nz-row>
                <div nz-col nzSpan="24">
                  <nz-checkbox-wrapper style="width: 100%">
                    <div nz-row>
                      <div nz-col nzSpan="12">
                        <label nz-checkbox nzDisabled [nzChecked]="true">
                          Interbank Cross-border Settlement<i
                            class="m-l-5"
                            style="color: #3c5686; font-size: 20px"
                            nz-icon
                            nzType="question-circle"
                            nzTooltipPlacement="right"
                            nzTheme="fill"
                            nz-tooltip
                            [nzTooltipTitle]="
                              'Cross-border settlements between commercial banks'
                            "
                            nzTooltipColor="#3c5686"
                            nzTooltipTrigger="click"
                            nzTooltipOverlayClassName="buils"
                          ></i>
                        </label>
                      </div>
                      <div nz-col nzSpan="12">
                        <label
                          nz-checkbox
                          nzDisabled
                          [nzChecked]="detailData.paymentStatus === 1"
                          >Cross-border Payment & Remittance<i
                            class="m-l-5"
                            style="color: #3c5686; font-size: 20px"
                            nz-icon
                            nzType="question-circle"
                            nzTooltipPlacement="right"
                            nzTheme="fill"
                            nz-tooltip
                            [nzTooltipTitle]="'enterprise customers.'"
                            nzTooltipColor="#3c5686"
                            nzTooltipTrigger="click"
                            nzTooltipOverlayClassName="buils"
                          ></i>
                        </label>
                      </div>
                    </div>
                  </nz-checkbox-wrapper>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <div class="onboarding-title">Terms of Use</div>
          </div>
        </div>
        <div
          nz-row
          nzJustify="center"
          nzAlign="middle"
          style="margin-top: -40px"
          class="m-b-10 nodeName"
        >
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="9">
            <nz-form-label nzSpan="10"></nz-form-label>
            <nz-form-control>
              <label nz-checkbox [nzChecked]="true" nzDisabled>
                I have read and agree to
                <a (click)="goToPdf()">
                  <span>{{
                    '"' +
                      'Terms of Use for Accessing Project Kissen Sandbox' +
                      '"'
                  }}</span>
                </a></label
              >
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
  </div>
</div>
