<div class="time-line">
  <ng-container>
    <nz-steps [nzCurrent]="1" nzDirection="vertical" nzSize="small">
      <nz-step nzTitle="Created" [nzDescription]="stepOneTpl"></nz-step>
      <nz-step nzTitle="Success" [nzStatus]="'finish'" [nzDescription]="stepSecondTpl"></nz-step>
      <nz-step nzTitle="Approved" [nzStatus]="'error'" [nzDescription]="stepThirdTpl"></nz-step>
    </nz-steps>
    <ng-template #stepOneTpl>
      <ul>
        <li>{{'Transaction No.: ' + 'F9160184-E5D5-4E64-1EEB-7DAAF4EF4444'}}</li>
        <li>{{ 'on ' + 'Nov 14, 2023, 10:14:45 UTC+08:00' + ' by banker1'}}</li>
      </ul>
    </ng-template>
    <ng-template #stepSecondTpl>
      <ul>
        <li>{{'Txn Hash:'}}
          <span>{{'0x19151ccd6719173e0d97c1c81e54e73eb2395df55e9a40a8ba1c4381422ba65d'}}</span>
        </li>
        <li>{{ 'Nov 14, 2023, 10:14:45 UTC+08:00'}}</li>
      </ul>
    </ng-template>
    <ng-template #stepThirdTpl>
      <ul>
        <li>{{ 'on ' + '' + ' by banker1'}}</li>
      </ul>
    </ng-template>
  </ng-container>

  <ng-container>
    <nz-steps [nzCurrent]="0" nzDirection="vertical" nzSize="small">
      <nz-step nzTitle="Created" [nzDescription]="step1OneTpl"></nz-step>
      <nz-step nzTitle="Success" [nzStatus]="'wait'" [nzDescription]="step1SecondTpl"></nz-step>
    </nz-steps>
    <ng-template #step1OneTpl>
      <ul>
        <li>{{'Transaction No.: ' + 'F9160184-E5D5-4E64-1EEB-7DAAF4EF4444'}}</li>
        <li>{{ 'on ' + 'Nov 14, 2023, 10:14:45 UTC+08:00' + ' by banker1'}}</li>
      </ul>
    </ng-template>
    <ng-template #step1SecondTpl>
      <ul>
        <li>{{'Status: ' + 'Pending'}}</li>
      </ul>
    </ng-template>
  </ng-container>

  <ng-container>
    <nz-steps [nzCurrent]="1" nzDirection="vertical" nzSize="small">
      <nz-step [nzStatus]="'finish'" nzTitle="The Remitter: Initiates an in-wallet foreign exchange transaction"
        [nzDescription]="step2OneTpl"></nz-step>
      <nz-step [nzStatus]="'finish'" nzTitle="The Remitter: Calculate the w-HKD amount based on the exchange rate"
        [nzDescription]="step2SecondTpl"></nz-step>
      <nz-step [nzStatus]="'error'" nzTitle="The Remitter: Authorize wCBDCs Swap and FX Smart Contracts"
        [nzDescription]="step2ThirdTpl"></nz-step>
      <nz-step [nzStatus]="'error'"
        nzTitle="The wCBDCs Swap and FX Smart Contracts: Call the SP wallet to initiate the transfer"
        [nzDescription]="step2FourthTpl"></nz-step>
    </nz-steps>
    <ng-template #step2OneTpl>
      <ul>
        <li>{{'The remitter exchanges w-CNY from their wallet to w-HKD'}}</li>
        <li>{{ 'Transaction No.: F9160186-E5D5-4E64-1EEB-7DAAF4EF6666'}}</li>
        <li>{{ 'on'+ 'Nov 14, 2023, 10:14:45 UTC+08:00' +'by banker1'}}</li>
      </ul>
    </ng-template>
    <ng-template #step2SecondTpl>
      <ul>
        <li>{{'10,000.00 w-HKD =9,112.79 w-CNY with FX: 1 HKD = 0.91 CNY'}}</li>
        <li>{{'Commission: 5 w-CNY'}}</li>
        <li>{{'Nov 16, 2023, 10:15:40 UTC+08:00'}}</li>
      </ul>
    </ng-template>
    <ng-template #step2ThirdTpl>
      <ul>
        <li>
          {{"Transfer 9,117.79 w-CNY from remitter's wallet'"}}
          <p>{{'0x11c0E25E62C1dBD32E505446062B26AECB00CN11 to SP w-CNY wallet'}}</p>
          <p>{{'0x00c0P00E62C1SPD00s888800002P00SSPP55CN55 successfully'}}</p>
        </li>
        <li>{{'Txn Hash:'}}
          <p>{{'0x19151ccd6719173e0d97c1c81e54e73eb2395df55e9a40a8ba1c4381422ba65d'}}</p>
        </li>
        <li>{{'Nov 16, 2023, 10:15:40 UTC+08:00'}}</li>
      </ul>
    </ng-template>
    <ng-template #step2FourthTpl>
      <ul>
        <li>
          {{"Transfer 9,117.79 w-CNY from remitter's wallet'"}}
          <p>{{'0x11c0E25E62C1dBD32E505446062B26AECB00CN11 to SP w-CNY wallet'}}</p>
          <p>{{'0x00c0P00E62C1SPD00s888800002P00SSPP55CN55 successfully'}}</p>
        </li>
        <li>{{'Txn Hash:'}}
          <p>{{'0x19151ccd6719173e0d97c1c81e54e73eb2395df55e9a40a8ba1c4381422ba65d'}}</p>
        </li>
        <li>{{'Nov 16, 2023, 10:15:40 UTC+08:00'}}</li>
      </ul>
    </ng-template>
  </ng-container>
</div>