<app-page-header [backTpl]="backTpl" [backUrl]="'/poc/poc-wallet/cbdc-wallet'"
  [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<div class="normal-detail-table-wrap">
  <nz-card [nzBodyStyle]="{ 'padding-bottom': 0 }" [nzTitle]="'Wallet Creations'" class="m-b-10">
    <form nz-form [formGroup]="validateForm" class="m-t-25 m-b-30">
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <nz-form-label nzRequired nzSpan="10">Creation Method
          </nz-form-label>
          <nz-form-control [nzErrorTip]="creationMethodError">
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-select formControlName="creationMethod">
                  <nz-option [nzValue]="0" nzLabel="System Creation"></nz-option>
                  <nz-option [nzValue]="1" nzLabel="Customization"></nz-option>
                </nz-select>
              </div>
            </div>
            <ng-template #creationMethodError let-control>
              <ng-container *ngIf="control.hasError('required')">Please select your Creation Methode</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <nz-form-label nzRequired nzSpan="10">Central Bank
          </nz-form-label>
          <nz-form-control [nzErrorTip]="centralBankError">
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-select formControlName="centralBankId">
                  <nz-option *ngFor="let item of centralBankList" [nzValue]="item.centralBankId"
                    [nzLabel]="item.centralBankName">
                  </nz-option>
                </nz-select>
              </div>
              <div>Bank for wallet address.</div>
            </div>
            <ng-template #centralBankError let-control>
              <ng-container *ngIf="control.hasError('required')">Please select your Central Bank</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <nz-form-label nzRequired nzSpan="10">
            Currency
          </nz-form-label>
          <nz-form-control [nzErrorTip]="currencyError">
            <div nz-row>
              <div nz-col nzSpan="24">
                <input nz-input formControlName="currency" readonly class="onboard-disabled" />
              </div>
            </div>
            <ng-template #currencyError let-control>
              <ng-container *ngIf="control.hasError('required')">Please input your Currency</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <ng-container *ngIf="this.validateForm.get('creationMethod')?.value === 1">
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
            <nz-form-label nzRequired nzSpan="10">
              Wallet Address
            </nz-form-label>
            <nz-form-control [nzErrorTip]="walletAddressError">
              <div nz-row>
                <div nz-col nzSpan="24">
                  <nz-select formControlName="walletAddress" nzShowSearch [nzDropdownRender]="renderTemplate"
                    (ngModelChange)="onSelectWalletAddress($event)">
                  <nz-option-group nzLabel="MetaMask">
                    <nz-option *ngFor="let items of metaArr$ | async" [nzValue]="items" [nzLabel]="items"> </nz-option>
                  </nz-option-group>
                    <nz-option-group nzLabel="Local">
                    <nz-option *ngFor="let item of walletAddressList" [nzValue]="item" [nzLabel]="item"> </nz-option>
                  </nz-option-group>

                  </nz-select>
                </div>
              </div>
              <ng-template #walletAddressError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Currency</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-container>
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <nz-form-label nzRequired nzSpan="10"> Business Node ID </nz-form-label>
          <nz-form-control [nzErrorTip]="nodeError">
            <div nz-row>
              <div nz-col nzSpan="24">
                <input nz-input formControlName="bnCode" readonly class="onboard-disabled" />
              </div>
              <div>
                <span nz-icon nzType="info-circle" nzTheme="fill" [nzTheme]="'twotone'" class="m-r-8"></span>{{ "A uniqu\e
                ID for service providers to acces\s
                th\e
                CBDC system. After the BN is deployed, the UDPN will generate this ID." }}
              </div>
            </div>
            <ng-template #nodeError let-control>
              <ng-container *ngIf="control.hasError('required')">Please input your Business Node ID </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <ng-container *ngIf="showKeyStore">
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
            <nz-form-label nzRequired nzSpan="10">
              Keystore File
            </nz-form-label>
            <nz-form-control [nzErrorTip]="keyStoreFileError">
              <div class="set-postion">
                <div class="upDiv" (click)="upFileSig.click()">
                  <span style="font-size: 28px" *ngIf="fileStatus === 1" nz-icon nzType="plus" nzTheme="outline">
                  </span>
                  <span style="font-size: 28px" *ngIf="fileStatus === 2" nz-icon nzType="file-done" nzTheme="outline">
                  </span>
                </div>
              </div>
              <div *ngIf="fileStatus === 2">
                <span nz-icon nzType="link" nzTheme="outline" class="m-r-10"></span>{{ fileTextName }}
                <span class="m-l-10 del" *ngIf="fileStatus === 2" (click)="onDeleteFile()"><button nz-button
                    nzType="text" style="color: red">delete</button></span>
              </div>
              <input type="text" hidden formControlName="file" />
              <input type="file" accept=".json" hidden #upFileSig (change)="uploadFileSig($event)" id="files" />
              <ng-template #keyStoreFileError let-control>
                <ng-container *ngIf="control.hasError('required')">Please upload your Keystore File</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
            <nz-form-label nzRequired nzSpan="10">
              Keystore Password
            </nz-form-label>
            <nz-form-control [nzErrorTip]="keyStorePasswordError">
              <div nz-row>
                <div nz-col nzSpan="24">
                  <input nz-input nzType="password" formControlName="keyStorePassword" />
                </div>
              </div>
              <ng-template #keyStorePasswordError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Keystore Password</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
            <nz-form-label nzRequired nzSpan="10">
              Verify Keystore Password
            </nz-form-label>
            <nz-form-control [nzErrorTip]="verifyKeyStorePasswordError">
              <div nz-row>
                <div nz-col nzSpan="24">
                  <input nz-input nzType="password" formControlName="verifyKeyStorePassword" />
                </div>
              </div>
              <ng-template #verifyKeyStorePasswordError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Verify Keystore
                  Password</ng-container>
                  <ng-container *ngIf="control.hasError('regular')">Two passwords are inconsistent</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-container>

      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 m-t-15">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <div nz-row>
            <div nz-col nzSpan="24" style="text-align: end">
              <nz-space>
                <button *nzSpaceItem nz-button [nzSize]="'large'" nzType="default" (click)="onBack()">
                  Back
                </button>
                <button *nzSpaceItem nz-button [nzSize]="'large'" nzType="primary" [nzLoading]="isLoading"
                  [disabled]="!this.validateForm.valid" (click)="onSubmit()">
                  Submit
                </button></nz-space>
            </div>
          </div>
        </nz-form-item>
      </div>
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 m-t-15"
        *ngIf="this.validateForm.get('creationMethod')?.value === 0">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-alert nzType="info"
                [nzMessage]="'The system will create and register a wallet in the corresponding CBDC wallet contract.'"
                nzShowIcon></nz-alert>
            </div>
          </div>
        </nz-form-item>
      </div>
    </form>
  </nz-card>
</div>
<ng-template #titleTpl>Wallet Creations
  <span class="m-l-10" style="color: #91929E;">( Choose the central bank to create
    a wallet, each central
    bank can hold up to 2 wallets. )</span>
</ng-template>
<ng-template #renderTemplate>
  <div row class="container">
    <nz-input-group [nzAddOnAfter]="afterTpl">
      <input type="text" nz-input #inputElement />
      <ng-template #afterTpl>
        <div col nzSpan="8">
          <a (click)="addItem(inputElement)">
            <span nz-icon nzType="plus"></span>
            Add
          </a>
        </div>
      </ng-template>
    </nz-input-group>
    <div> <a nz-button nzType="link" (click)="onMetaMask()">Get a Wallet Address in MetaMask</a></div>
  </div>
</ng-template>