<app-page-header [backTpl]="backTpl" [backUrl]="'/poc/poc-wallet/cbdc-wallet'"
  [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<div class="normal-detail-table-wrap">
  <nz-card [nzBodyStyle]="{ 'padding-bottom': 0 }" [nzTitle]="titleTpl" class="m-b-10">
    <form nz-form [formGroup]="validateForm" class="m-t-25 m-b-30">
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <nz-form-label nzRequired nzSpan="10">Creation Method
          </nz-form-label>
          <nz-form-control [nzErrorTip]="creationMethodError">
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-select formControlName="creationMethod">
                  <nz-option [nzValue]="1" nzLabel="System Creation"></nz-option>
                  <nz-option [nzValue]="2" nzLabel="Customization"></nz-option>
                </nz-select>
              </div>
            </div>
            <ng-template #creationMethodError let-control>
              <ng-container *ngIf="control.hasError('required')">Please select your Creation Methode</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <nz-form-label nzRequired nzSpan="10">Central Bank
          </nz-form-label>
          <nz-form-control [nzErrorTip]="centralBankError">
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-select formControlName="centralBank">
                  <nz-option nzValue="" nzLabel="All"></nz-option>
                  <nz-option *ngFor="let item of centralBankList" [nzValue]="" [nzLabel]="''">
                  </nz-option>
                </nz-select>
              </div>
              <div>Bank for wallet address.</div>
            </div>
            <ng-template #centralBankError let-control>
              <ng-container *ngIf="control.hasError('required')">Please select your Central Bank</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <nz-form-label nzRequired nzSpan="10">
            Currency
          </nz-form-label>
          <nz-form-control [nzErrorTip]="currencyError">
            <div nz-row>
              <div nz-col nzSpan="24">
                <input nz-input formControlName="currency" readonly class="onboard-disabled" />
              </div>
            </div>
            <ng-template #currencyError let-control>
              <ng-container *ngIf="control.hasError('required')">Please input your Currency</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <ng-container *ngIf="this.validateForm.get('creationMethod')?.value === 2">
        <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
          <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
            <nz-form-label nzRequired nzSpan="10">
              Wallet Address
            </nz-form-label>
            <nz-form-control [nzErrorTip]="walletAddressError">
              <div nz-row>
                <div nz-col nzSpan="24">
                  <nz-select formControlName="walletAddress">
                    <nz-option *ngFor="let item of walletAddressList" [nzValue]="" [nzLabel]="''">
                    </nz-option>
                  </nz-select>
                </div>
              </div>
              <ng-template #walletAddressError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Currency</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </ng-container>
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <nz-form-label nzRequired nzSpan="10"> Business Node ID </nz-form-label>
          <nz-form-control [nzErrorTip]="emailError">
            <div nz-row>
              <div nz-col nzSpan="24">
                <input nz-input formControlName="businessNode" readonly class="onboard-disabled" />
              </div>
              <div>
                <span nz-icon nzType="info-circle" nzTheme="fill" [nzTheme]="'twotone'" class="m-r-8"></span>{{'A unique
                ID for service providers to access
                the
                CBDC system. After the BN is deployed, the UDPN will generate this ID.'}}
              </div>
            </div>
            <ng-template #emailError let-control>
              <ng-container *ngIf="control.hasError('required')">Please input your Business Node ID </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 m-t-15">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <div nz-row>
            <div nz-col nzSpan="24" style="text-align: end">
              <nz-space>
                <button *nzSpaceItem nz-button [nzSize]="'large'" nzType="default" (click)="onBack()">
                  Back
                </button>
                <button *nzSpaceItem nz-button [nzSize]="'large'" nzType="primary" [nzLoading]="isLoading"
                  [disabled]="!this.validateForm.valid" (click)="onSubmit()">
                  Submit
                </button></nz-space>
            </div>
          </div>
        </nz-form-item>
      </div>
      <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10 m-t-15">
        <nz-form-item nz-col nzXs="24" nzSm="18" nzXl="12" nzXXl="8">
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-alert nzType="info"
                [nzMessage]="'The system will create and register a wallet in the corresponding CBDC wallet contract.'"
                nzShowIcon></nz-alert>
            </div>
          </div>
        </nz-form-item>
      </div>
    </form>
  </nz-card>
</div>
<ng-template #titleTpl>Wallet Creations <span class="m-l-10" style="color: #91929E;">( Choose the central bank to create
    a wallet, each central
    bank can hold up to 2 wallets. )</span></ng-template>