<!--
 * @Author: chenyuting
 * @Date: 2025-01-20 14:59:21
 * @LastEditors: chenyuting
 * @LastEditTime: 2025-02-10 15:11:06
 * @Description: 
-->
<app-page-header
  [backTpl]="backTpl"
  [backUrl]="'/poc/poc-enterprise/wallet'"
  [pageHeaderInfo]="pageHeaderInfo"
></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<div class="normal-detail-table-wrap">
  <nz-card>
    <ng-container *ngIf="type === 'info'">
      <nz-tabset (nzSelectedIndexChange)="tabIndexChange($event)">
        <nz-tab *ngFor="let tab of detailsTabs; index as i" [nzTitle]="tab">
          <ng-container *ngIf="i === 0">
            <app-basic-info [info]="info"></app-basic-info>
          </ng-container>
          <ng-container *ngIf="i === 1">
            <nz-card nzTitle="" nzBordered="false">
              <nz-tabset
                (nzSelectedIndexChange)="transactionsIndexChange($event)"
              >
                <nz-tab
                  *ngFor="let tabs of transactionsTabs; index as index"
                  [nzTitle]="tabs"
                >
                  <ng-container *ngIf="transactionsIndex === 0">
                    <app-card-table-wrap
                      [isNormalTable]="true"
                      tableTitle="Transaction List"
                    >
                      <app-ant-table
                        (changePageSize)="changePageSize($event)"
                        (changePageNum)="getTopUpWithdrawDataList($event)"
                        [tableConfig]="tableConfig"
                        [tableData]="dataList"
                      ></app-ant-table>
                    </app-card-table-wrap>
                  </ng-container>
                  <ng-container *ngIf="transactionsIndex === 1">
                    <app-card-table-wrap
                      [isNormalTable]="true"
                      tableTitle="Transaction List"
                    >
                      <app-ant-table
                        (changePageSize)="changePageSize1($event)"
                        (changePageNum)="getTransferDataList($event)"
                        [tableConfig]="transferTableConfig"
                        [tableData]="transferDataList"
                      ></app-ant-table>
                    </app-card-table-wrap>
                  </ng-container> </nz-tab
              ></nz-tabset>
            </nz-card>
          </ng-container>
        </nz-tab>
      </nz-tabset>
    </ng-container>
    <ng-container *ngIf="type === 'approval'">
      <app-basic-info [info]="info"></app-basic-info>
    </ng-container>
  </nz-card>
</div>
<ng-template
  #transactionNoTpl
  let-transactionNo="transactionNo"
  let-accountCbdcId="accountCbdcId"
>
  <a
    [title]="transactionNo"
    nz-typography
    [nzCopyable]="transactionNo ? true : false"
    [nzCopyText]="transactionNo"
    routerLink="/poc/poc-enterprise/transaction-approval/info"
    [queryParams]="{ accountCbdcId }"
  >
    {{ transactionNo | map: 'showPartEight' }}
  </a>
</ng-template>
<ng-template
  #transfertransactionNoTpl
  let-transactionNo="transactionNo"
  let-transferId="transferId"
>
  <a
    [title]="transactionNo"
    nz-typography
    [nzCopyable]="transactionNo ? true : false"
    [nzCopyText]="transactionNo"
    routerLink="/poc/poc-enterprise/transaction-approval/info"
    [queryParams]="{ transferId }"
  >
    {{ transactionNo | map: 'showPartEight' }}
  </a>
</ng-template>
<ng-template
  #walletAddressTpl
  let-type="type"
  let-fromAddress="fromAddress"
  let-toAddress="toAddress"
>
  <p
    [title]="type === 3 ? toAddress : fromAddress"
    nz-typography
    [nzCopyable]="toAddress || fromAddress ? true : false"
    [nzCopyText]="type === 3 ? toAddress : fromAddress"
  >
    {{ (type === 3 ? toAddress : fromAddress) | map: 'showPartEight' }}
  </p>
</ng-template>
<ng-template #fromTpl let-from="from">
  <p
    [title]="from"
    nz-typography
    [nzCopyable]="from ? true : false"
    [nzCopyText]="from"
  >
    {{ from | map: 'showPartEight' }}
  </p>
</ng-template>
<ng-template #toTpl let-to="to">
  <p
    [title]="to"
    nz-typography
    [nzCopyable]="to ? true : false"
    [nzCopyText]="to"
  >
    {{ to | map: 'showPartEight' }}
  </p>
</ng-template>
<ng-template
  #sendingAmountTpl
  let-sendingAmount="sendingAmount"
  let-sendingCurrency="sendingCurrency"
>
  <span
    [title]="(sendingAmount | map: 'toThousandthMark') + ' ' + sendingCurrency"
    >{{
      (sendingAmount | map: 'toThousandthMark') + ' ' + sendingCurrency
    }}</span
  >
</ng-template>
<ng-template
  #receivingAmountTpl
  let-receivingAmount="receivingAmount"
  let-receivingCurrency="receivingCurrency"
>
  <span
    [title]="
      (receivingAmount | map: 'toThousandthMark') + ' ' + receivingCurrency
    "
    >{{
      (receivingAmount | map: 'toThousandthMark') + ' ' + receivingCurrency
    }}</span
  >
</ng-template>
<ng-template #transactionHashTpl let-txHash="txHash">
  <p
    [title]="txHash"
    nz-typography
    [nzCopyable]="txHash ? true : false"
    [nzCopyText]="txHash"
  >
    {{ txHash | map: 'showPartEight' }}
  </p>
</ng-template>
<ng-template #statusTpl>
  <span [title]="'Success'">{{ 'Success' }}</span>
</ng-template>
<ng-template #amountTpl let-type="type" let-amount="amount">
  <span [title]="amount | map: 'toThousandthMark'"
    >{{ type === 3 ? ' + ' : ' - '
    }}{{ amount | map: 'toThousandthMark' }}</span
  >
</ng-template>
