<app-page-header [backTpl]="backTpl" [backUrl]="'/poc/poc-wallet/cbdc-transaction'"
  [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #backTpl>
  <span class="m-t-15" nz-icon nzType="arrow-left" nzTheme="outline"></span>
</ng-template>
<div class="normal-detail-table-wrap">
  <div nz-row class="m-t-10">
    <div nz-col [nzXXl]="14" [nzXl]="14" [nzLg]="24" [nzMd]="14" [nzSm]="24" [nzXs]="24">
      <nz-card nzTitle="" class="m-r-8 none-bottom">
        <nz-card nzBordered="false" [nzBodyStyle]="{ 'border-bottom': '1px solid #e8e8e8'}">
          <nz-descriptions nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }" [nzColon]="false"
            [nzBordered]="false" class="card-descriptions-order">
            <nz-descriptions-item [nzTitle]="info.type === 1 ? 'Top-up' : 'Withdrawal'"><span
                [style]="{'color': info.type === 1 ? '#39A16A' : '#E53E3E'}">{{ info.type === 1 ? '+': '-' }}{{
                info.amount |
                map:'toThousandthMark' }}{{ ' ' + info.currency }}</span></nz-descriptions-item>
          </nz-descriptions>
        </nz-card>

        <!-- title: (Top-up: Top-up, Withdrawal: Withdrawal) Information -->
        <nz-card [nzTitle]="info.type === 1 ? 'Top-up Information' : 'Withdrawal Information'" nzBordered="false"
          class="m-t-25" [nzBodyStyle]="{ 'border-bottom': '1px solid #e8e8e8'}">
          <nz-descriptions nzTitle="" [nzColumn]="1" [nzColon]="false" [nzBordered]="false"
            class="card-descriptions-order">
            <nz-descriptions-item nzTitle="Transaction No.">{{ 'F9160189-E5D5-4E64-1EEB-7DAAF4EF9999'
              }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Creation Time">{{ 1654231412 | map:'timeStamp'
              }}</nz-descriptions-item>
          </nz-descriptions>
        </nz-card>
        <!-- Transfer & Exchange -->
        <nz-card nzTitle="Transaction Information" nzBordered="false" class="m-t-25">
          <nz-descriptions nzTitle="" [nzColumn]="1" [nzColon]="false" [nzBordered]="false"
            class="card-descriptions-order">
            <nz-descriptions-item nzTitle="Transaction Hash">{{ '--'
              }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Transaction Time">{{ '--'
              }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Status">{{ 'Pending Approval'}}</nz-descriptions-item>
          </nz-descriptions>
        </nz-card>

      </nz-card>
    </div>
    <div nz-col [nzXXl]="10" [nzXl]="10" [nzLg]="24" [nzMd]="10" [nzSm]="24" [nzXs]="24">
      <nz-card nzTitle="" [nzBodyStyle]="{ 'padding-bottom': '50px', 'padding-top': '50px' }" class="m-r-8">
        <app-cbdc-timeline [info] ="info" />
      </nz-card>
    </div>
  </div>
</div>