<app-nav-top>
  <div class="account"
    [ngStyle]="{ color: (isOverMode$ | async) ? '#a59999' : '#3c5686','border-top': (isOverMode$ | async) ? '' : '1px solid rgb(240, 240, 240)' }">
    {{
    (isCollapsed$ | async)
    ? this.clientName?.length > 5
    ? this.clientName.slice(0, 5) + '....'
    : this.clientName
    : 'Welcome, ' + this.clientName
    }}
  </div>
</app-nav-top>
<ul *ngIf="!isMixiHead; else mixiHeadTpl" nz-menu [nzNoAnimation]="(themesOptions$ | async)!.mode === 'top'"
  [nzInlineCollapsed]="isCollapsed$ | async" [nzTheme]="
    isMixiMode && !(isOverMode$ | async) && !(isNightTheme$ | async)
      ? 'light'
      : isMixiMode && (isNightTheme$ | async)
      ? 'dark'
      : (themesOptions$ | async)!.theme
  " [nzMode]="
    (themesOptions$ | async)!.mode === 'side' ||
    (themesOptions$ | async)!.mode === 'mixi' ||
    (isOverMode$ | async)
      ? 'inline'
      : 'horizontal'
  ">
  <ng-container *ngTemplateOutlet="
      menuTpl;
      context: { $implicit: isMixiLeft ? leftMenuArray : menus }
    "></ng-container>
  <ng-template #menuTpl let-menus>
    <ng-container *ngFor="let menu of menus; trackByProperty: 'id'">
      <ng-container *appAuth="menu.code">
        <ng-container *ngIf="!menu.menuGroup">
          <li [nzPaddingLeft]="
              (themesMode !== 'top' || isOverMode) && !isCollapsed ? 16 : 0
            " nz-menu-item *ngIf="!menu.children || menu.children.length === 0" [nzSelected]="menu.selected">
            <a (click)="changeRoute($event, menu)">
              <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
              <i *ngIf="menu.alIcon" nz-icon [nzIconfont]="menu.alIcon"></i>
              <span>{{ menu.menuName }}</span>
            </a>
          </li>
          <ng-container *ngIf="menu.children && menu.children.length > 0">
            <!--*appAuth="menu.code"-->
            <li [nzPaddingLeft]="
                (themesMode !== 'top' || isOverMode) && !isCollapsed ? 16 : 0
              " nz-submenu (nzOpenChange)="changeOpen(menu, menus)" [(nzOpen)]="menu.open" [nzTitle]="titleTpl"
              [ngClass]="{ disabled: menu.disabled }">
              <ng-template #titleTpl>
                <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
                <i *ngIf="menu.alIcon" nz-icon [nzIconfont]="menu.alIcon"></i>
                <span>{{ menu.menuName }}</span>
              </ng-template>
              <ul>
                <ng-container *ngFor="
                    let menuSecond of menu.children;
                    trackByProperty: 'id'
                  ">
                  <!--Permission to 2-->
                  <ng-container>
                    <li [nzPaddingLeft]="
                        (themesMode !== 'top' || isOverMode) && !isCollapsed
                          ? 32
                          : 0
                      " nz-menu-item [nzSelected]="menuSecond.selected" *ngIf="
                        !menuSecond.children || menuSecond.children.length === 0
                      " [ngClass]="{ disabled: menuSecond.disabled }">
                      <a (click)="changeRoute($event, menuSecond)">
                        <i *ngIf="menuSecond.icon" nz-icon [nzType]="menuSecond.icon"></i>
                        <i *ngIf="menuSecond.alIcon" nz-icon [nzIconfont]="menuSecond.alIcon"></i>
                        <span>{{ menuSecond.menuName }}</span>
                      </a>
                    </li>
                    <!--Level 3 menu-->
                    <li [nzPaddingLeft]="
                        (themesMode !== 'top' || isOverMode) && !isCollapsed
                          ? 32
                          : 0
                      " *ngIf="
                        menuSecond.children && menuSecond.children.length > 0
                      " nz-submenu (nzOpenChange)="changeOpen(menuSecond, menu.children)" [(nzOpen)]="menuSecond.open"
                      [nzTitle]="titleTpl">
                      <ng-template #titleTpl>
                        <i *ngIf="menuSecond.icon" nz-icon [nzType]="menuSecond.icon"></i>
                        <i *ngIf="menuSecond.alIcon" nz-icon [nzIconfont]="menuSecond.alIcon"></i>
                        <span>{{ menuSecond.menuName }}</span></ng-template>
                      <ul>
                        <ng-container *ngFor="
                            let menuThird of menuSecond.children;
                            trackByProperty: 'id'
                          ">
                          <ng-container *appAuth="menuThird.code">
                            <li [nzPaddingLeft]="
                                (themesMode !== 'top' || isOverMode) &&
                                !isCollapsed
                                  ? 48
                                  : 0
                              " nz-menu-item [nzSelected]="menuThird.selected" *ngIf="
                                !menuThird.children ||
                                menuThird.children.length === 0
                              ">
                              <a (click)="changeRoute($event, menuThird)">
                                <i *ngIf="menuThird.icon" nz-icon [nzType]="menuThird.icon"></i>
                                <i *ngIf="menuThird.alIcon" nz-icon [nzIconfont]="menuThird.alIcon"></i>
                                <span>{{ menuThird.menuName }}</span>
                              </a>
                            </li>
                            <!--Level 4 menu-->
                            <li [nzPaddingLeft]="
                                (themesMode !== 'top' || isOverMode) &&
                                !isCollapsed
                                  ? 48
                                  : 0
                              " *ngIf="
                                menuThird.children &&
                                menuThird.children.length > 0
                              " nz-submenu (nzOpenChange)="
                                changeOpen(menuThird, menuSecond.children)
                              " [(nzOpen)]="menuThird.open" [nzTitle]="menuThird.menuName">
                              <i *ngIf="menuThird.icon" nz-icon [nzType]="menuThird.icon"></i>
                              <i *ngIf="menuThird.alIcon" nz-icon [nzIconfont]="menuThird.alIcon"></i>
                              <ul>
                                <ng-container *ngFor="
                                    let forthThird of menuThird.children;
                                    trackByProperty: 'id'
                                  ">
                                  <ng-container *appAuth="forthThird.code">
                                    <li [nzPaddingLeft]="
                                        (themesMode !== 'top' || isOverMode) &&
                                        !isCollapsed
                                          ? 64
                                          : 0
                                      " nz-menu-item [nzSelected]="forthThird.selected">
                                      <a (click)="
                                          changeRoute($event, forthThird)
                                        ">
                                        <i *ngIf="forthThird.icon" nz-icon [nzType]="forthThird.icon"></i>
                                        <i *ngIf="forthThird.alIcon" nz-icon [nzIconfont]="forthThird.alIcon"></i>
                                        <span>{{ forthThird.menuName }}</span>
                                      </a>
                                    </li>
                                  </ng-container>
                                </ng-container>
                              </ul>
                            </li>
                          </ng-container>
                        </ng-container>
                      </ul>
                    </li>
                  </ng-container>
                  <!--Permissions 2 end-->
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="menu.menuGroup">
          <ng-container *ngIf="!menu.children">
            <li [ngClass]="{ group: (isOverMode$ | async) }" nz-menu-group [ngStyle]="{
            'text-align':
              (isCollapsed$ | async) && !(isOverMode$ | async) ? 'center' : ''
          }" [nzTitle]="
            (isCollapsed$ | async) && !(isOverMode$ | async)
              ? menu.groupCollapseName
              : menu.groupName
          "></li>
          </ng-container>
          <ng-container *ngIf="menu.children && menu.children.length > 0">
            <!--*appAuth="menu.code"-->
            <li [nzPaddingLeft]="
                (themesMode !== 'top' || isOverMode) && !isCollapsed ? 16 : 0
              " nz-submenu (nzOpenChange)="changeOpen(menu, menus)" [(nzOpen)]="menu.open" [nzTitle]="(isCollapsed$ | async) && !(isOverMode$ | async)
                ? menu.groupCollapseName
                : menu.groupName" [ngClass]="{ disabled: menu.disabled }">
              <ul>
                <ng-container *ngFor="
                    let menuSecond of menu.children;
                    trackByProperty: 'id'
                  ">
                  <!--Permission to 2-->
                  <ng-container>
                    <li [nzPaddingLeft]="
                        (themesMode !== 'top' || isOverMode) && !isCollapsed
                          ? 32
                          : 0
                      " nz-menu-item [nzSelected]="menuSecond.selected" *ngIf="
                        !menuSecond.children || menuSecond.children.length === 0
                      " [ngClass]="{ disabled: menuSecond.disabled }">
                      <a (click)="changeRoute($event, menuSecond)">
                        <i *ngIf="menuSecond.icon" nz-icon [nzType]="menuSecond.icon"></i>
                        <i *ngIf="menuSecond.alIcon" nz-icon [nzIconfont]="menuSecond.alIcon"></i>
                        <span>{{ menuSecond.menuName }}</span>
                      </a>
                    </li>
                    <!--Level 3 menu-->
                    <li [nzPaddingLeft]="
                        (themesMode !== 'top' || isOverMode) && !isCollapsed
                          ? 32
                          : 0
                      " *ngIf="
                        menuSecond.children && menuSecond.children.length > 0
                      " nz-submenu (nzOpenChange)="changeOpen(menuSecond, menu.children)" [(nzOpen)]="menuSecond.open"
                      [nzTitle]="titleTpl">
                      <ng-template #titleTpl>
                        <i *ngIf="menuSecond.icon" nz-icon [nzType]="menuSecond.icon"></i>
                        <i *ngIf="menuSecond.alIcon" nz-icon [nzIconfont]="menuSecond.alIcon"></i>
                        <span>{{ menuSecond.menuName }}</span></ng-template>
                      <ul>
                        <ng-container *ngFor="
                            let menuThird of menuSecond.children;
                            trackByProperty: 'id'
                          ">
                          <ng-container *appAuth="menuThird.code">
                            <li [nzPaddingLeft]="
                                (themesMode !== 'top' || isOverMode) &&
                                !isCollapsed
                                  ? 48
                                  : 0
                              " nz-menu-item [nzSelected]="menuThird.selected" *ngIf="
                                !menuThird.children ||
                                menuThird.children.length === 0
                              ">
                              <a (click)="changeRoute($event, menuThird)">
                                <i *ngIf="menuThird.icon" nz-icon [nzType]="menuThird.icon"></i>
                                <i *ngIf="menuThird.alIcon" nz-icon [nzIconfont]="menuThird.alIcon"></i>
                                <span>{{ menuThird.menuName }}</span>
                              </a>
                            </li>
                            <!--Level 4 menu-->
                            <li [nzPaddingLeft]="
                                (themesMode !== 'top' || isOverMode) &&
                                !isCollapsed
                                  ? 48
                                  : 0
                              " *ngIf="
                                menuThird.children &&
                                menuThird.children.length > 0
                              " nz-submenu (nzOpenChange)="
                                changeOpen(menuThird, menuSecond.children)
                              " [(nzOpen)]="menuThird.open" [nzTitle]="menuThird.menuName">
                              <i *ngIf="menuThird.icon" nz-icon [nzType]="menuThird.icon"></i>
                              <i *ngIf="menuThird.alIcon" nz-icon [nzIconfont]="menuThird.alIcon"></i>
                              <ul>
                                <ng-container *ngFor="
                                    let forthThird of menuThird.children;
                                    trackByProperty: 'id'
                                  ">
                                  <ng-container *appAuth="forthThird.code">
                                    <li [nzPaddingLeft]="
                                        (themesMode !== 'top' || isOverMode) &&
                                        !isCollapsed
                                          ? 64
                                          : 0
                                      " nz-menu-item [nzSelected]="forthThird.selected">
                                      <a (click)="
                                          changeRoute($event, forthThird)
                                        ">
                                        <i *ngIf="forthThird.icon" nz-icon [nzType]="forthThird.icon"></i>
                                        <i *ngIf="forthThird.alIcon" nz-icon [nzIconfont]="forthThird.alIcon"></i>
                                        <span>{{ forthThird.menuName }}</span>
                                      </a>
                                    </li>
                                  </ng-container>
                                </ng-container>
                              </ul>
                            </li>
                          </ng-container>
                        </ng-container>
                      </ul>
                    </li>
                  </ng-container>
                  <!--Permissions 2 end-->
                </ng-container>
              </ul>
            </li>
          </ng-container>
          <ng-container *ngIf="menu.menuName">
            <li [nzPaddingLeft]="
              (themesMode !== 'top' || isOverMode) && !isCollapsed ? 16 : 0
            " nz-menu-item *ngIf="!menu.children || menu.children.length === 0" [nzSelected]="menu.selected">
              <a (click)="changeRoute($event, menu)">
                <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
                <i *ngIf="menu.alIcon" nz-icon [nzIconfont]="menu.alIcon"></i>
                <span>{{ menu.menuName }}</span>
              </a>
            </li>
            <ng-container *ngIf="menu.children && menu.children.length > 0">
              <!--*appAuth="menu.code"-->
              <li [nzPaddingLeft]="
                (themesMode !== 'top' || isOverMode) && !isCollapsed ? 16 : 0
              " nz-submenu (nzOpenChange)="changeOpen(menu, menus)" [(nzOpen)]="menu.open" [nzTitle]="titleTpl"
                [ngClass]="{ disabled: menu.disabled }">
                <ng-template #titleTpl>
                  <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
                  <i *ngIf="menu.alIcon" nz-icon [nzIconfont]="menu.alIcon"></i>
                  <span>{{ menu.menuName }}</span>
                </ng-template>
                <ul>
                  <ng-container *ngFor="
                    let menuSecond of menu.children;
                    trackByProperty: 'id'
                  ">
                    <!--Permission to 2-->
                    <ng-container>
                      <li [nzPaddingLeft]="
                        (themesMode !== 'top' || isOverMode) && !isCollapsed
                          ? 32
                          : 0
                      " nz-menu-item [nzSelected]="menuSecond.selected" *ngIf="
                        !menuSecond.children || menuSecond.children.length === 0
                      " [ngClass]="{ disabled: menuSecond.disabled }">
                        <a (click)="changeRoute($event, menuSecond)">
                          <i *ngIf="menuSecond.icon" nz-icon [nzType]="menuSecond.icon"></i>
                          <i *ngIf="menuSecond.alIcon" nz-icon [nzIconfont]="menuSecond.alIcon"></i>
                          <span>{{ menuSecond.menuName }}</span>
                        </a>
                      </li>
                      <!--Level 3 menu-->
                      <li [nzPaddingLeft]="
                        (themesMode !== 'top' || isOverMode) && !isCollapsed
                          ? 32
                          : 0
                      " *ngIf="
                        menuSecond.children && menuSecond.children.length > 0
                      " nz-submenu (nzOpenChange)="changeOpen(menuSecond, menu.children)" [(nzOpen)]="menuSecond.open"
                        [nzTitle]="titleTpl">
                        <ng-template #titleTpl>
                          <i *ngIf="menuSecond.icon" nz-icon [nzType]="menuSecond.icon"></i>
                          <i *ngIf="menuSecond.alIcon" nz-icon [nzIconfont]="menuSecond.alIcon"></i>
                          <span>{{ menuSecond.menuName }}</span></ng-template>
                        <ul>
                          <ng-container *ngFor="
                            let menuThird of menuSecond.children;
                            trackByProperty: 'id'
                          ">
                            <ng-container *appAuth="menuThird.code">
                              <li [nzPaddingLeft]="
                                (themesMode !== 'top' || isOverMode) &&
                                !isCollapsed
                                  ? 48
                                  : 0
                              " nz-menu-item [nzSelected]="menuThird.selected" *ngIf="
                                !menuThird.children ||
                                menuThird.children.length === 0
                              ">
                                <a (click)="changeRoute($event, menuThird)">
                                  <i *ngIf="menuThird.icon" nz-icon [nzType]="menuThird.icon"></i>
                                  <i *ngIf="menuThird.alIcon" nz-icon [nzIconfont]="menuThird.alIcon"></i>
                                  <span>{{ menuThird.menuName }}</span>
                                </a>
                              </li>
                              <!--Level 4 menu-->
                              <li [nzPaddingLeft]="
                                (themesMode !== 'top' || isOverMode) &&
                                !isCollapsed
                                  ? 48
                                  : 0
                              " *ngIf="
                                menuThird.children &&
                                menuThird.children.length > 0
                              " nz-submenu (nzOpenChange)="
                                changeOpen(menuThird, menuSecond.children)
                              " [(nzOpen)]="menuThird.open" [nzTitle]="menuThird.menuName">
                                <i *ngIf="menuThird.icon" nz-icon [nzType]="menuThird.icon"></i>
                                <i *ngIf="menuThird.alIcon" nz-icon [nzIconfont]="menuThird.alIcon"></i>
                                <ul>
                                  <ng-container *ngFor="
                                    let forthThird of menuThird.children;
                                    trackByProperty: 'id'
                                  ">
                                    <ng-container *appAuth="forthThird.code">
                                      <li [nzPaddingLeft]="
                                        (themesMode !== 'top' || isOverMode) &&
                                        !isCollapsed
                                          ? 64
                                          : 0
                                      " nz-menu-item [nzSelected]="forthThird.selected">
                                        <a (click)="
                                          changeRoute($event, forthThird)
                                        ">
                                          <i *ngIf="forthThird.icon" nz-icon [nzType]="forthThird.icon"></i>
                                          <i *ngIf="forthThird.alIcon" nz-icon [nzIconfont]="forthThird.alIcon"></i>
                                          <span>{{ forthThird.menuName }}</span>
                                        </a>
                                      </li>
                                    </ng-container>
                                  </ng-container>
                                </ul>
                              </li>
                            </ng-container>
                          </ng-container>
                        </ul>
                      </li>
                    </ng-container>
                    <!--Permissions 2 end-->
                  </ng-container>
                </ul>
              </li>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</ul>

<ng-template #mixiHeadTpl>
  <ul nz-menu nzTheme="dark" nzMode="horizontal">
    <ng-container *ngFor="let menu of menus; trackByProperty: 'id'; let i = index">
      <ng-container *appAuth="menu.code">
        <li nz-menu-item *ngIf="!menu.children || menu.children.length === 0" [nzSelected]="menu.selected">
          <a [routerLink]="[menu.path]">
            <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
            <i *ngIf="menu.alIcon" nz-icon [nzIconfont]="menu.alIcon"></i>
            <span>{{ menu.menuName }}</span>
          </a>
        </li>

        <li nz-menu-item (click)="changTopNav(i)" *ngIf="menu.children && menu.children.length > 0"
          [nzSelected]="menu.selected">
          <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
          <i *ngIf="menu.alIcon" nz-icon [nzIconfont]="menu.alIcon"></i>
          <span>{{ menu.menuName }}</span>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</ng-template>