<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<div class="normal-table-wrap">
  <nz-card style="background: #f0f2f5;border: 0; border-radius: 10px;">
    <div nz-row style="display: flex; justify-content: space-around;" class="m-t-30">
      <div nz-col [nzXXl]="11" [nzXl]="11" [nzLg]="11" [nzMd]="11" [nzSm]="24" [nzXs]="24"
        style="background: #fff; border-radius: 16px;padding: 4px;">
        <nz-card nzTitle="Beneficiary Information" class="none-bottom" nzBordered="false">
          <form nz-form [formGroup]="validateForm">
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24">Beneficiary's Bank Name
                </nz-form-label>
                <nz-form-control [nzErrorTip]="beneficialBankNameError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <nz-select formControlName="beneficialBankName"
                        (ngModelChange)="onBeneficialBankNameChange($event)">
                        <!-- <nz-option nzLabel="ALL" nzValue="all"></nz-option> -->
                        <nz-option *ngFor="let item of beneficialBankNameList" [nzValue]="item.value"
                          [nzLabel]="item.label"></nz-option>
                      </nz-select>
                    </div>
                  </div>
                  <ng-template #beneficialBankNameError let-control>
                    <ng-container *ngIf="control.hasError('required')">Please select your Beneficiary's Bank
                      Name</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24">Beneficiary's Wallet Address
                </nz-form-label>
                <nz-form-control [nzErrorTip]="beneficialWalletAddressError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <input nz-input formControlName="beneficialWalletAddress" maxlength="100" />
                    </div>
                  </div>
                  <ng-template #beneficialWalletAddressError let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your Beneficiary's Wallet
                      Address</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24">Currency & Interbank Settlement Amount
                </nz-form-label>
                <nz-form-control [nzErrorTip]="amountError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <nz-input-group [nzAddOnAfter]="beneficiaryCurrency">
                        <input type="number" nz-input formControlName="amount" maxlength="10" />
                      </nz-input-group>
                    </div>
                  </div>
                  <ng-template #amountError let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your Currency & Interbank
                      Settlement
                      Amount</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </nz-card>
      </div>
      <div nz-col [nzXXl]="11" [nzXl]="11" [nzLg]="11" [nzMd]="11" [nzSm]="24" [nzXs]="24"
        style="background: #fff; border-radius: 16px;padding: 4px;">
        <nz-card nzTitle="Remitter Information" nzBordered="false" class="none-bottom">
          <form nz-form [formGroup]="validateForm">
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24">Remitter's Wallet Address
                </nz-form-label>
                <nz-form-control [nzErrorTip]="remitterWalletAddressError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <nz-select formControlName="remitterWalletAddress"
                        (ngModelChange)="onRemitterWalletAddressChange($event)">
                        <nz-option *ngFor="let item of remitterWalletAddressList" [nzValue]="item.value"
                          [nzLabel]="item.label"></nz-option>
                      </nz-select>
                    </div>
                  </div>
                  <ng-template #remitterWalletAddressError let-control>
                    <ng-container *ngIf="control.hasError('required')">Please select your Remitter's Wallet
                      Address</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24">Available Balance
                </nz-form-label>
                <nz-form-control [nzErrorTip]="availableBalanceError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <nz-input-group [nzAddOnAfter]="addOnAfterTemplate">
                        <input nz-input formControlName="availableBalance" readonly class="onboard-disabled" />
                      </nz-input-group>
                    </div>
                  </div>
                  <ng-template #availableBalanceError let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your Available
                      Balance</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24">Remitter's Bank Name
                </nz-form-label>
                <nz-form-control [nzErrorTip]="remitterBankNameError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <input nz-input formControlName="remitterBankName" readonly class="onboard-disabled" />
                    </div>
                  </div>
                  <ng-template #remitterBankNameError let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your Remitter's Bank
                      Name</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24">Remittance Information
                </nz-form-label>
                <nz-form-control [nzErrorTip]="remittanceInformationError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <textarea nz-input formControlName="remittanceInformation" maxlength="500"></textarea>
                    </div>
                  </div>
                  <ng-template #remittanceInformationError let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your Remittance
                      Information</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </nz-card>
      </div>

      <ng-container *ngIf="settlementStatus">

        <div nz-col nz-col [nzXXl]="23" [nzXl]="23" [nzLg]="23" [nzMd]="23" [nzSm]="24" [nzXs]="24" class="m-t-60"
          style="background: #fff; border-radius: 16px;padding: 4px;">
          <div>
            <nz-card nzTitle="Settlement Information" nzBordered="false" class="none-bottom">

              <nz-table #rowSelectionTable nzShowSizeChanger nzShowPagination="false" [nzData]="dataList"
                [nzLoading]="nzLoading">
                <thead>
                  <tr>
                    <th></th>
                    <th>FX SP</th>
                    <th>Currency Pair</th>
                    <th>FX Rate</th>
                    <th>Commission</th>
                    <th>Total Payment Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of rowSelectionTable.data, index as i">
                    <!-- <td [nzChecked]="setOfCheckedId.has(i.toString())"
                    (nzCheckedChange)="onItemChecked(i.toString(), $event)"
                    style="display: flex; justify-content: center; align-items: center;">
                  </td> -->
                    <td style="display: flex; justify-content: center; align-items: center;">
                      <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="onChecked()">
                        <label nz-radio [nzValue]="i"></label>
                      </nz-radio-group>
                    </td>
                    <td>{{ data.sp }}</td>
                    <td>{{ data.currency}}</td>
                    <td>{{ data.rate }}</td>
                    <td>{{ data.com + ' ' + availableCurrecyModel}}
                    </td>
                    <td> <b>{{ data.total + ' ' + availableCurrecyModel}}</b> <span
                        style="color: blue;font-weight: 600;margin-left: 30px;" *ngIf="i === 0">{{
                        ' Recommendation!' }}</span> </td>
                  </tr>
                </tbody>
              </nz-table>
            </nz-card>
          </div>
        </div>
      </ng-container>
    </div>
  </nz-card>
  <div nz-row nzJustify="center" nzAlign="middle" class="m-t-25 m-b-10 m-r-60">
    <div nz-col nzSpan="24" style="text-align: end">
      <button nz-button [nzSize]="'large'" nzType="primary" [nzLoading]="isLoading" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </div>
</div>
<ng-template #selectRadioTpl let-key>
  <label nz-radio ngModel></label>
</ng-template>
<ng-template #addOnAfterTemplate>
  <nz-select (ngModelChange)="onAvailableCurrecy($event)" [ngModel]="availableCurrecyModel">
    <nz-option *ngFor="let item of availableCurrecy" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
  </nz-select>
</ng-template>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Remittance Information Confirmation" (nzOnCancel)="cancelView()"
  [nzClosable]="false" [nzWidth]="1000" nzCentered="true">
  <div *nzModalContent>
    <nz-card nzBordered="false">
      <nz-descriptions nzTitle="" [nzColumn]="1" [nzColon]="false" [nzBordered]="false"
        class="card-descriptions-vertical title-order">
        <nz-descriptions-item nzTitle="Currency & Interbank Settlement Amount"><span class="text-right"
            [ngStyle]="{'color': 'red'}">{{
            '-' +checkedItemComment[0].total + ' ' + availableCurrecyModel
            }}</span>
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-card>

    <nz-card nzTitle="FX Information" nzBordered="false" class="info-none-bottom">
      <nz-descriptions nzLayout="vertical" nzTitle="" [nzColumn]="{ xxl: 3, xl: 3, lg: 2, md: 1, sm: 1, xs: 1 }"
        [nzColon]="false" [nzBordered]="false" class="card-descriptions-vertical">
        <nz-descriptions-item nzTitle="Settlement Bank">{{ checkedItemComment[0].sp
          }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="HKD/CNY Fx Rate">{{ checkedItemComment[0].rate}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Commission">{{ checkedItemComment[0].com + ' ' +
          availableCurrecyModel}}</nz-descriptions-item>
      </nz-descriptions>
    </nz-card>

    <nz-card nzTitle="Beneficiary Information" nzBordered="false" class="info-none-bottom">
      <nz-descriptions nzLayout="vertical" nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }"
        [nzColon]="false" [nzBordered]="false" class="card-descriptions-vertical">
        <nz-descriptions-item nzTitle="Beneficiary's Wallet Address">{{
          validateForm.controls["beneficialWalletAddress"].value
          }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Beneficiary's Bank Name">{{
          validateForm.controls["beneficialBankName"].value}}</nz-descriptions-item>
      </nz-descriptions>
    </nz-card>

    <nz-card nzTitle="Remitter Information" nzBordered="false" class="info-none-bottom">
      <nz-descriptions nzLayout="vertical" nzTitle="" [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }"
        [nzColon]="false" [nzBordered]="false" class="card-descriptions-vertical">
        <nz-descriptions-item nzTitle="Remitter's Wallet Address">
          {{ validateForm.controls["remitterWalletAddress"].value }}
          <br>
          {{ validateForm.controls["availableBalance"].value+ ' ' + availableCurrecyModel}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Remitter's Bank Name"> {{
          validateForm.controls["remitterBankName"].value }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Remitter's Wallet Address">
          {{ 'Remittance Information: Commercial Bank of CNY'}}
          <br>
          {{ '0x11c0E25E62C1dBD32E505446062B26AECB00CN00' }}
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelView()">Cancel</button>
    <button nz-button nzType="primary" (click)="confirmView()" [nzLoading]="isLoading">Confirm</button>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleEnterPassword" nzTitle="Enter Login Password" (nzOnCancel)="cancelEnterPassword()"
  [nzClosable]="false" [nzWidth]="700" nzCentered="true">
  <div *nzModalContent>
    <form nz-form [formGroup]="passwordForm">
      <div nz-row [nzGutter]="24" nzJustify="center" nzAlign="middle">
        <div nz-col nzSpan="20">
          <nz-form-item class="m-t-15">
            <nz-form-label nzRequired nzSpan="6" class="text-left">
              Password
            </nz-form-label>
            <nz-form-control [nzErrorTip]="passwordError" nzSpan="18">
              <input nz-input formControlName="password" />
              <ng-template #passwordError let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your Password</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelEnterPassword()">Cancel</button>
    <button nz-button nzType="primary" (click)="confirmEnterPassword()" [nzLoading]="isLoading"
      [disabled]="!this.passwordForm.valid">Confirm</button>
  </div>
</nz-modal>