<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<div class="normal-table-wrap">
  <nz-card style="background: #f0f2f5; border: 0; border-radius: 10px">
    <div
      nz-row
      style="display: flex; justify-content: space-around"
      class="m-t-30"
    >
      <div
        nz-col
        [nzXXl]="11"
        [nzXl]="11"
        [nzLg]="11"
        [nzMd]="11"
        [nzSm]="24"
        [nzXs]="24"
        style="background: #fff; border-radius: 16px; padding: 4px"
      >
        <nz-card
          nzTitle="Remitter Information"
          class="none-bottom"
          nzBordered="false"
        >
          <form nz-form [formGroup]="validateForm">
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24"
                  >Remitter's Name
                </nz-form-label>
                <nz-form-control>
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <input
                        nz-input
                        [value]="remitterBankName"
                        [disabled]="true"
                      />
                    </div>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24"
                  >Token Currency
                </nz-form-label>
                <nz-form-control [nzErrorTip]="availableBalanceError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <nz-select
                        formControlName="remi_currency"
                        (ngModelChange)="onAvailableCurrecy($event)"
                      >
                        <nz-option
                          *ngFor="let item of availableCurrecy"
                          [nzValue]="item.digitalCurrencyName"
                          [nzLabel]="item.digitalSymbol"
                        ></nz-option>
                      </nz-select>
                    </div>
                  </div>
                  <ng-template #availableBalanceError let-control>
                    <ng-container *ngIf="control.hasError('required')"
                      >Please input your Token Currency</ng-container
                    >
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24"
                  >Remitter's Wallet Address
                </nz-form-label>
                <nz-form-control [nzErrorTip]="remitterWalletAddressError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <nz-select
                        formControlName="remitterWalletAddress"
                        (ngModelChange)="onRemitterWalletAddressChange($event)"
                      >
                        <nz-option
                          *ngFor="let item of remitterWalletAddressList"
                          [nzValue]="item.bankAccountId"
                          [nzLabel]="item.chainAccountAddress"
                        ></nz-option>
                      </nz-select>
                    </div>
                    <div
                      class="unit-postion"
                      style="color: rgba(0, 0, 0, 0.45)"
                    >
                      <span>
                        {{
                          this.availableCurrecyModelShow +
                            ' ' +
                            this.availableCount
                        }}</span
                      >
                      <span class="m-l-5 m-r-5">{{
                        this.availableCurrecyModelShowIcon
                      }}</span>
                    </div>
                  </div>
                  <ng-template #remitterWalletAddressError let-control>
                    <ng-container *ngIf="control.hasError('required')"
                      >Please select your Remitter's Wallet
                      Address</ng-container
                    >
                    <ng-container *ngIf="control.hasError('regular') && isError"
                      >The wallet addresses of the Remitter and Beneficiary
                      cannot be identical.</ng-container
                    >
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24"
                  >Sending Amount
                </nz-form-label>
                <nz-form-control [nzErrorTip]="sendAmountError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <nz-input-group
                        [nzAddOnAfter]="availableCurrecyModelShowIcon"
                      >
                        <input
                          type="number"
                          value="reniSendAmountValue"
                          (focus)="onFocusSendAmount()"
                          (blur)="onBlurSendAmount()"
                          nz-input
                          formControlName="reni_sendAmount"
                        />
                      </nz-input-group>
                    </div>
                  </div>
                  <ng-template #sendAmountError let-control>
                    <ng-container *ngIf="control.hasError('required')"
                      >Please input your Sending Amount</ng-container
                    >
                    <ng-container *ngIf="control.hasError('regular')"
                      >The selected wallet doesn’t have sufficient
                      funds</ng-container
                    >
                    <ng-container *ngIf="control.hasError('regular1')"
                      >Please fill in the correct amount</ng-container
                    >
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <!-- <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24">Remitter's Custodian Bank Name
                </nz-form-label>
                <nz-form-control [nzErrorTip]="remitterBankNameError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <input nz-input formControlName="remitterBankName" readonly class="onboard-disabled" />
                    </div>
                  </div>
                  <ng-template #remitterBankNameError let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your Remitter's Custodian Bank
                      Name</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div> -->
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24"
                  >Remittance Note
                </nz-form-label>
                <nz-form-control [nzErrorTip]="remittanceInformationError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <textarea
                        nz-input
                        formControlName="remittanceInformation"
                        maxlength="500"
                      ></textarea>
                    </div>
                  </div>
                  <ng-template #remittanceInformationError let-control>
                    <ng-container *ngIf="control.hasError('required')"
                      >Please input your Remittance Note</ng-container
                    >
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </nz-card>
      </div>
      <div
        nz-col
        [nzXXl]="11"
        [nzXl]="11"
        [nzLg]="11"
        [nzMd]="11"
        [nzSm]="24"
        [nzXs]="24"
        style="background: #fff; border-radius: 16px; padding: 4px"
      >
        <nz-card
          nzTitle="Beneficiary Information"
          nzBordered="false"
          class="none-bottom"
        >
          <form nz-form [formGroup]="validateForm">
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24"
                  >Beneficiary's Name
                </nz-form-label>
                <nz-form-control [nzErrorTip]="beneficialBankNameError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <nz-select
                        formControlName="beneficialBankId"
                        (ngModelChange)="onBeneficialBankNameChange($event)"
                      >
                        <!-- <nz-option nzLabel="ALL" nzValue="all"></nz-option> -->
                        <nz-option
                          *ngFor="
                            let item of beneficialBankNameListAll;
                            index as i
                          "
                          [nzValue]="i"
                          [nzLabel]="item.bankName"
                        ></nz-option>
                      </nz-select>
                    </div>
                  </div>
                  <ng-template #beneficialBankNameError let-control>
                    <ng-container *ngIf="control.hasError('required')"
                      >Please select your Beneficiary's Bank Name</ng-container
                    >
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24"
                  >Token Currency
                </nz-form-label>
                <nz-form-control [nzErrorTip]="availableBalanceError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <nz-select
                        formControlName="bene_currency"
                        (ngModelChange)="onBeneficiaryCurrency($event)"
                      >
                        <nz-option
                          *ngFor="let item of newAmountArr"
                          [nzValue]="item.digitalCurrencyName"
                          [nzLabel]="item.digitalSymbol"
                        ></nz-option>
                      </nz-select>
                    </div>
                  </div>
                  <ng-template #availableBalanceError let-control>
                    <ng-container *ngIf="control.hasError('required')"
                      >Please input your Token Currency</ng-container
                    >
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24">Currency & Interbank Settlement Amount
                </nz-form-label>
                <nz-form-control [nzErrorTip]="newAmountError">
                  <div nz-row>
                    <div nz-col nzSpan="24">

                      <nz-input-group [nzAddOnAfter]="addOnAfterTemplate2">
                        <input nz-input formControlName="amount" />
                      </nz-input-group>
                    </div>
                  </div>
                  <ng-template #newAmountError let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your Available
                      Balance</ng-container>
                    <ng-container *ngIf="control.hasError('regular')">Currency&Interbank Settlement Amount cannot be
                      greater than Available Balance
                    </ng-container>
                  </ng-template>

                </nz-form-control>
              </nz-form-item>
            </div> -->
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24"
                  >Beneficiary's Wallet Address
                </nz-form-label>
                <nz-form-control [nzErrorTip]="beneficialWalletAddressError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <nz-select
                        formControlName="beneficialWalletAddress"
                        (ngModelChange)="
                          onBeneficialWalletAddressChange($event)
                        "
                      >
                        <nz-option
                          *ngFor="let item of BeneficiaryArr; index as i"
                          [nzValue]="item.bankWalletId"
                          [nzLabel]="item.chainAccountAddress"
                        ></nz-option>
                      </nz-select>
                    </div>
                  </div>
                  <ng-template #beneficialWalletAddressError let-control>
                    <ng-container *ngIf="control.hasError('required')"
                      >Please input your Beneficiary's Wallet
                      Address</ng-container
                    >
                    <ng-container *ngIf="control.hasError('regular') && isError"
                      >The wallet addresses of the Remitter and Beneficiary
                      cannot be identical.</ng-container
                    >
                    <!-- <ng-container *ngIf="control.hasError('regular')">
                      Please enter a 42 digit hexadecimal starting with
                      '0x'</ng-container
                    > -->
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24"
                  >Receiving Amount
                </nz-form-label>
                <nz-form-control [nzErrorTip]="AmountError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <nz-input-group [nzAddOnAfter]="beneficiaryCurrencyIcon">
                        <input
                          type="number"
                          value="amountValue"
                          (focus)="onFocusAmount()"
                          (blur)="onBlurAmount()"
                          nz-input
                          formControlName="amount"
                        />
                      </nz-input-group>
                    </div>
                  </div>
                  <ng-template #AmountError let-control>
                    <ng-container *ngIf="control.hasError('required')"
                      >Please input your Receiving Amount</ng-container
                    >
                    <ng-container *ngIf="control.hasError('regular')"
                      >Please fill in the correct amount</ng-container
                    >
                    <ng-container *ngIf="control.hasError('regular1')"
                      >Please fill in the correct amount</ng-container
                    >
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzSpan="24">Beneficiary's Custodian Bank Name
                </nz-form-label>
                <nz-form-control>
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <input nz-input formControlName="newBeneficialBankName" readonly class="onboard-disabled" />
                    </div>
                  </div>

                </nz-form-control>
              </nz-form-item>
            </div> -->
            <!-- <div nz-row nzJustify="center" nzAlign="middle" class="m-b-10">
              <nz-form-item nz-col nzXs="24" nzSm="24" nzXl="20" nzXXl="12">
                <nz-form-label nzRequired nzSpan="24">Remittance Information
                </nz-form-label>
                <nz-form-control [nzErrorTip]="remittanceInformationError">
                  <div nz-row>
                    <div nz-col nzSpan="24">
                      <textarea nz-input formControlName="remittanceInformation" maxlength="500"></textarea>
                    </div>
                  </div>
                  <ng-template #remittanceInformationError let-control>
                    <ng-container *ngIf="control.hasError('required')">Please input your Remittance
                      Information</ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div> -->
          </form>
        </nz-card>
      </div>

      <ng-container
        *ngIf="
          settlementStatus &&
          this.validateForm.get('amount')?.value &&
          this.validateForm.get('reni_sendAmount')?.value
        "
      >
        <div
          nz-col
          nz-col
          [nzXXl]="23"
          [nzXl]="23"
          [nzLg]="23"
          [nzMd]="23"
          [nzSm]="24"
          [nzXs]="24"
          class="m-t-60"
          style="background: #fff; border-radius: 16px; padding: 4px"
        >
          <div>
            <nz-card
              nzTitle="FX Liquidity Providers List"
              nzBordered="false"
              class="none-bottom"
            >
              <div class="m-b-10">
                <span>{{ 'Amount: ' }}</span>
                <span class="operate-text" style="font-size: 20px"
                  ><b>{{
                    this.validateForm.get('reni_sendAmount')?.value
                      | map: 'toThousandthMark'
                  }}</b></span
                >
                <span
                  ><b>{{ availableCurrecyModelShowIcon }}</b></span
                >
                <span
                  class="arrow-right m-l-10 m-r-10"
                  nz-icon
                  nzType="arrow-right"
                  nzTheme="outline"
                ></span>
                <span class="operate-text" style="font-size: 20px"
                  ><b>{{
                    this.validateForm.get('amount')?.value
                      | map: 'toThousandthMark'
                  }}</b></span
                >
                <span
                  ><b>{{ beneficiaryCurrencyIcon }}</b></span
                >
              </div>
              <nz-table
                #rowSelectionTable
                nzShowSizeChanger
                nzShowPagination="false"
                [nzData]="dataList"
                [nzLoading]="nzLoading"
              >
                <thead>
                  <tr>
                    <th></th>
                    <th>
                      FX Rate
                      <nz-tag style="opacity: 0.7" [nzColor]="color">{{
                        this.rateType | map: 'fxType'
                      }}</nz-tag>
                    </th>
                    <th>Liquidity Provider Name</th>
                    <th>
                      {{
                        availableCurrecyModelShowIcon +
                          ' Liquidity Pool Address'
                      }}
                    </th>
                    <th>
                      {{ beneficiaryCurrencyIcon + ' Liquidity Pool Address' }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of rowSelectionTable.data; index as i">
                    <!-- <td [nzChecked]="setOfCheckedId.has(i.toString())"
                    (nzCheckedChange)="onItemChecked(i.toString(), $event)"
                    style="display: flex; justify-content: center; align-items: center;">
                  </td> -->
                    <td
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      "
                    >
                      <nz-radio-group
                        [(ngModel)]="radioValue"
                        (ngModelChange)="onChecked()"
                      >
                        <label nz-radio [nzValue]="i"></label>
                      </nz-radio-group>
                    </td>
                    <td>{{ data.currency }}</td>
                    <td>{{ data.sp }}</td>
                    <td>{{ data.fromCapitalPoolAddress }}</td>
                    <td>
                      {{ data.toCapitalPoolAddress }}
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </nz-card>
          </div>
        </div>
      </ng-container>
    </div>
  </nz-card>
  <div nz-row nzJustify="center" nzAlign="middle" class="m-t-25 m-b-10 m-r-60">
    <div nz-col nzSpan="22" style="text-align: end">
      <button
        *appAuth="'R01020101'"
        nz-button
        [nzSize]="'large'"
        nzType="primary"
        [nzLoading]="isLoading"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
<ng-template #selectRadioTpl let-key>
  <label nz-radio ngModel></label>
</ng-template>
<ng-template #addOnAfterTemplate>
  <nz-select
    (ngModelChange)="onAvailableCurrecy($event)"
    [ngModel]="availableCurrecyModel"
  >
    <nz-option
      *ngFor="let item of availableCurrecy"
      [nzValue]="item.digitalCurrencyName"
      [nzLabel]="item.digitalSymbol"
    ></nz-option>
  </nz-select>
</ng-template>
<ng-template #addOnAfterTemplate2>
  <nz-select
    (ngModelChange)="onBeneficiaryCurrency($event)"
    [ngModel]="beneficiaryCurrency"
  >
    <nz-option
      *ngFor="let item of newAmountArr"
      [nzValue]="item.digitalCurrencyName"
      [nzLabel]="item.digitalSymbol"
    ></nz-option>
  </nz-select>
</ng-template>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Confirm Transfer"
  (nzOnCancel)="cancelView()"
  [nzClosable]="false"
  [nzWidth]="1000"
  nzCentered="true"
  [nzBodyStyle]="{ 'max-height': '700px' }"
>
  <div *nzModalContent>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <nz-card [nzBordered]="false">
          <nz-descriptions
            nzTitle=""
            [nzColumn]="1"
            [nzColon]="false"
            [nzBordered]="false"
            class="card-descriptions-order"
          >
            <nz-descriptions-item nzTitle="Amount"
              ><span class="operate-text" style="font-size: 16px"
                ><b>{{
                  this.validateForm.get('reni_sendAmount')?.value
                    | map: 'toThousandthMark'
                }}</b></span
              >
              <span>{{ availableCurrecyModelShowIcon }}</span>
              <span
                class="arrow-right m-l-10 m-r-10"
                nz-icon
                nzType="arrow-right"
                nzTheme="outline"
              ></span>
              <span class="operate-text" style="font-size: 16px"
                ><b>{{
                  this.validateForm.get('amount')?.value
                    | map: 'toThousandthMark'
                }}</b></span
              >
              <span>{{ beneficiaryCurrencyIcon }}</span></nz-descriptions-item
            >
            <nz-descriptions-item nzTitle="Sender Wallet Address"
              ><p
                nz-typography
                [nzCopyable]="newRemitterWalletAddress ? true : false"
                [nzCopyText]="newRemitterWalletAddress"
              >
                {{ newRemitterWalletAddress }}
              </p></nz-descriptions-item
            >
            <nz-descriptions-item nzTitle="Receiver Wallet Address"
              ><p
                nz-typography
                [nzCopyable]="newBeneficialWalletAddress ? true : false"
                [nzCopyText]="newBeneficialWalletAddress"
              >
                {{ newBeneficialWalletAddress }}
              </p></nz-descriptions-item
            >
            <ng-container *ngIf="beneficiaryCurrency !== availableCurrecyModel"
              ><nz-descriptions-item nzTitle="FX Rate"
                >{{ checkedItemComment[0].currency
                }}<nz-tag
                  style="opacity: 0.7"
                  [nzColor]="color"
                  class="m-l-15"
                  >{{ this.rateType | map: 'fxType' }}</nz-tag
                ></nz-descriptions-item
              ><nz-descriptions-item nzTitle="Liquidity Provider Name">{{
                checkedItemComment[0].sp
              }}</nz-descriptions-item></ng-container
            >
            <nz-descriptions-item nzTitle="Remittance Note:">{{
              validateForm.controls['remittanceInformation'].value
            }}</nz-descriptions-item>
          </nz-descriptions>
        </nz-card>
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelView()">Cancel</button>
    <button
      nz-button
      nzType="primary"
      (click)="confirmView()"
      [nzLoading]="isLoading"
    >
      Confirm
    </button>
  </div>
</nz-modal>

<nz-modal
  [(nzVisible)]="isVisibleEnterPassword"
  nzTitle="Enter Login Password"
  (nzOnCancel)="cancelEnterPassword()"
  [nzClosable]="false"
  [nzWidth]="700"
  nzCentered="true"
>
  <div *nzModalContent>
    <form nz-form [formGroup]="passwordForm" nzLayout="vertical">
      <div nz-row [nzGutter]="24" nzJustify="center" nzAlign="middle">
        <div nz-col nzSpan="20">
          <nz-form-item class="m-t-15">
            <nz-form-label nzRequired nzSpan="24" class="text-left">
              {{ 'Password (Please input login password)' }}
            </nz-form-label>
            <nz-form-control [nzErrorTip]="passwordError" nzSpan="24">
              <input [type]="'password'" nz-input formControlName="pwd" />
              <ng-template #passwordError let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input login password</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="cancelEnterPassword()">
      Cancel
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="confirmEnterPassword()"
      [nzLoading]="isLoading"
      [disabled]="!this.passwordForm.valid"
    >
      Confirm
    </button>
  </div>
</nz-modal>
<!-- <ng-template #passwordTitleTemplate>
  Enter Login Password
  <span style="color: red">(Please input login password)</span>
</ng-template> -->
